<button class="ui button" {{on "click" this.export}} type="button">
  <i class="pdf file icon"></i>PDF
</button>
{{#if this.displayTitleInput}}
  <PopIn::PdfEntries @validateAction={{this.generatePDF}} @close={{this.closeTitleInput}} />
{{/if}}
