<table class="ui celled table definition tubes">
  <tbody>
  {{#each tubes as |tube|}}
    {{#if (or skillMode (not production) tube.hasProductionChallenge) }}
      <tr>
        <td>
          {{#if skillMode}}
            {{#link-to "competence.tube.index" competenceModel tube}}{{tube.name}}{{/link-to}}
          {{else}}
            {{tube.name}}
          {{/if}}
        </td>
        {{#each tube.filledSkills as |skill index|}}
         {{competence-grid-cell view=view skill=skill hasStatusProduction=production link=link competenceModel=competenceModel}}
        {{/each}}
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table>
