<table class="ui celled table definition tubes">
  <tbody>
  {{#each tubes as |tube|}}
    {{#if (or skillMode (not production) tube.hasProductionChallenge) }}
      {{competence-grid-row tube=tube view=view mayAddSkill=production link=link competenceModel=competenceModel}}
    {{/if}}
  {{/each}}
  </tbody>
</table>
