<div class={{concat "field" (if edition "" " disabled")}}>
  <label>{{title}}</label>
  {{#ui-dropdown class=(concat "selection" (if edition "" " disabled") (if multiple " multiple")) selected=value onChange=(action (mut value)) as |execute mapper|}}
  <div class="default text"></div>
  <i class="dropdown icon"></i>
  <div class="menu">
    {{#each options as |option|}}
      <div data-value={{map-value mapper option}} class="item">
        {{option}}
      </div>
    {{/each}}
  </div>
  {{/ui-dropdown}}
</div>