<div class={{concat "field" (if edition "" " disabled")}}>
  <label >{{title}}</label>
  <div class="ui input">
    {{#if label}}
      <div class="label-input">{{label}} : </div>
    {{/if}}
    {{input value=value}}
  </div>
</div>
