{{#ui-modal class="small popin-image" context=".application" closable=true  onHidden=(action closed)}}
  <i class="close icon"></i>
  <div class="image content">
    <img class="image" src={{src}} alt="illustration">
  </div>
{{/ui-modal}}
