<i class="close icon"></i>
<div class="header">
    Trouver un tutoriel pour {{skillName}}
</div>
{{!#each tutorialList as |tutorial|}}
    {{!tutorial.title}}
{{!/each}}

<div class="actions">
    <div  class="ui positive right labeled icon button">
        Ajouter
        <i class="checkmark icon"></i>
    </div>
</div>
