<form action="" class="ui form">
  {{form-textarea title="Description" value=skill.description edition=edition}}
  {{form-textarea title="Indice" value=skill.clue edition=edition}}
  {{form-select title="Statut de l'indice" value=skill.status options=options.status edition=edition}}
</form>
