@use '../../../global';

// stylelint-disable color-no-hex, color-named

.localized-prototype-view {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  overflow: hidden;

  &__data {
    flex: 1;
    box-sizing: border-box;
    padding: 10px 20px;
    overflow: scroll;
  }

  &__status {
    display: inline-block;
    padding: 0.4em 0.6em;
    color: #2f2f2f;
    font-size: 0.9em;
    line-height: 1;
    border-radius: 500rem;

    &--validated {
      background: global.$validated-background-color;
    }

    &--suggested {
      background: global.$suggested-background-color;
    }
  }
}
