.competence {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &.half {
    max-height: 30%;
  }

  .table {
    margin: 0;
    box-sizing: border-box;
    border: none;
  }
}

.competence-grid {
  height: 100%;
  overflow: scroll;
  /*flex: 1 1 0;*/
  min-height: 0;
}

.ui.table.tubes.definition {
  font-size: 15px;
  border-radius: 0;
  margin-top: -1px;

  td {
    box-sizing: border-box;
    padding: 5px;
    /*background-color:#F9FAFB;*/

    &:first-child:not(.ignored) {
      background-color: #F9FAFB;
      padding-left: 10px;
    }

    &.skill {
      text-align: center;

      &.active,
      &.active .skill-name {
        color: red !important;
      }

      &.link {
        cursor: pointer;

        &.skill-mode {
          background-color: #444488 !important;
        }

        .skill-name {
          margin: -5px -5px 0 -5px;
          padding: 5px 5px 0 5px;
        }

        .help {
          margin: 0 -5px -5px -5px;
          padding: 0 5px 5px 5px;
          color: $suggested-background-color;
        }

        .tuto-count {
          font-size: 12px;
        }

        &.production,
        &.production.active,
        .skill-name.production,
        .help i.production {
          background-color: $production-background-color !important;
          color: $production-color;
        }

        &.draft,
        &.draft.active,
        .skill-name.draft,
        .help i.draft {
          background-color: $draft-background-color !important;
          color: $draft-color;
        }

        &.suggested,
        &.suggested.active,
        .skill-name.suggested,
        .help i.suggested {
          /*background-color:$suggested-background-color !important;*/
          color: $suggested-background-color;
        }

        &.prevalidated,
        &.prevalidated.active,
        .skill-name.prevalidated,
        .help i.prevalidated {
          /*background-color:$prevalidated-background-color !important;*/
          color: $prevalidated-background-color;
        }

        &.validated_no_test,
        &.validated_no_test.active {
          /*background-color:$validated-no-test-background-color !important;*/
          color: $validated-no-test-background-color;
        }

        &.validated,
        &.validated.active,
        .skill-name.validated,
        .help i.validated {
          /*background-color:$validated-background-color !important;*/
          color: $validated-background-color;
        }

        &.link.archived,
        &.link.archived.active,
        .skill-name.archived,
        .help i.archived {
          /*background-color:$archived-background-color !important;*/
          color: $archived-background-color;
        }

        .skill-name.to-be-submitted,
        .help i.to-be-submitted {
          /*background-color:$to-be-submitted-background-color !important;*/
          color: $to-be-submitted-background-color;
        }

        .skill-name.need-work,
        .help i.need-work {
          /*background-color:$need-work-background-color !important;*/
          color: $need-work-background-color;
        }

        .help i.na {
          color: $na-color;
        }
      }

      .idea.icon.validated {
        color: #08cf08;
      }
    }
    &.quality{

      &.bad-quality {
        background: #EA2700;
        color: white;
      }

      &.medium-quality {
        background: #F3AC0B;
      }

      &.good-quality {
        background: #0DC600;
      }
      .half-tutorial{
        color:#aaa
      }
    }
    .add-skill {
      display: block;
      width: 100%;
      text-align: center;

      &:not(:hover) i {
        visibility: hidden;
      }

      &:hover i {
        visibility: visible;
      }

    }


    .quality-indication{
      display:flex;
      justify-content: space-between;
      span:nth-child(2){
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }


}

.template-list,
.alternative-list {
  .list-row {
    .suggested {
      background-color: $suggested-background-color !important;
      color: $suggested-color;
    }

    .validated {
      background-color: $validated-background-color !important;
      color: $validated-color;
    }

    .archived {
      background-color: $archived-background-color !important;
      color: $archived-color;
    }
  }
}

.quality-indication-details {
  tr {
    &:nth-child(even) {
      background: #FFA300;
      color: white;
    }
    &:nth-child(odd) {
      background: #FFCE4D;
    }
    td{
      padding:5px;
      &:nth-child(2){
        text-align : center;
      }
    }
  }
}

