$ember-power-select-border-color: rgba(34, 36, 38, 0.15);
$ember-power-select-trigger-ltr-padding: .3em 16px .3em .3em;
$ember-power-select-dropdown-box-shadow: 0 4px 10px rgba(34, 36, 38, 0.4);
$ember-power-select-disabled-background-color: #f9f9f9;

.ember-basic-dropdown-content {
  z-index: 1002 !important;
}

@keyframes drop-effect {
  0%{
    opacity: 0;
    transform-origin: top center;
    transform: scale(1,0);
  }
  100%{
    opacity: 1;
    transform-origin: top center;
    transform: scale(1);
  }
}

.slide-fade {
  will-change: transform, opacity;

  &.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
    animation: drop-effect .2s;
  }

  &.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
    animation: drop-effect .15s reverse;
  }
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  .item:hover {
      cursor: pointer;
  }
}
