.ember-table {
  table {
    th {
      background-color:#F9FAFB;
      border-left:1px solid rgba(34,36,38,.1);
      border-bottom:1px solid rgba(34,36,38,.1);
      padding:10px;
      text-align:left;

      .et-sort-indicator {

        &:before {
          font-family: Icons;
          display: inline-block;
          border: none;
          line-height: 1;
          color:#b9b9b9;
          content: '\f0d7';
        }

        &.is-ascending:before {
          content: '\f0d8';
        }
      }


    }
    td {
      border-left:1px solid rgba(34,36,38,.1);
      border-bottom:1px solid rgba(34,36,38,.1);
      padding:10px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
      cursor:pointer;

      &.suggested {
        background-color: $suggested-background-color !important;
        color: $suggested-color;
      }

      &.prevalidated {
        background-color: $prevalidated-background-color !important;
        color: $prevalidated-color;
      }

      &.validated_no_test {
        background-color: $validated-no-test-background-color !important;
        color: $validated-no-test-color;
      }

      &.validated {
        background-color: $validated-background-color !important;
        color: $validated-color;
      }

      &.archived {
        background-color: $archived-background-color !important;
        color: $archived-color;
      }

      &.to-be-submitted {
        background-color: $to-be-submitted-background-color !important;
        color: $to-be-submitted-color;
      }

      &.need-work {
        background-color: $need-work-background-color !important;
        color: $need-work-color;
      }

    }

    tr.is-selected td {
      background-color:#ffc;
    }
  }
}