.body-log{
  .list-row{
    &:hover{
      background: rgba(52,152,219,.2);
    }
  }
}

.list-log {
  float:left;
  height:100%;
  border-left:1px solid rgba(34, 36, 38, 0.1);
  border-bottom:1px solid rgba(34, 36, 38, 0.1);
  box-sizing:border-box;
  padding:10px;
  overflow:hidden;
  white-space:nowrap;

  &:first-child{
    width:15%;
  }
  &:nth-child(2) {
    width:60%;
  }
  &:nth-child(3),
  &:nth-child(4) {
    width:10%;
  }
  &:nth-child(5) {
    width:5%;
  }
}
