.main-sidebar {

  &.ui.sidebar {
    transition: transform 0.5s, visibility 0.5s;
    z-index:99;
  }

  .header {
    height: 50px;
    padding: 15px 5px;
    font-size: 25px;
    color: #ffffff;
  }

  .sidebar-search {
    .ember-basic-dropdown-trigger {
      margin: 0 5px;
      color: rgba(255, 255, 255, 0.9);
      background: transparent;
      border-color: rgba(255, 255, 255, 0.9);

      .ember-power-select-placeholder{
        color: rgba(255, 255, 255, 0.9);
      }
      .custom-trigger{
        color:rgba(255, 255, 255, 0.9);
      }
    }

    .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
      width:auto;
      left:5px;
      right:5px;
    }
  }


  .accordion .content a {
    white-space: nowrap;
  }

  .ui.menu {
    background: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .ui.vertical.inverted.menu {

    .menu .item {
      padding: 10px;
      color: #ffffff;
      align-items: initial;
    }

    .menu .item i.icon {
      font-size: 12px;
      float: none;
      margin-right: 5px;
    }
  }

  .ui.search {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 5px;

    .prompt {
      border-radius: 0;
    }

    .ui.input {
      width: 100%;

      input {
        padding: 4px;
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.8);

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      i.icon {
        color: #ffffff;
      }
    }

    &.loading {
      .input > i.icon::after {
        border-color: #ffffff transparent transparent;
      }
    }

    .results .message .header {
      display: none;
    }
  }

  .secondary-links {
    border-top: solid 1px rgba(255, 255, 255, 0.08);
    margin-top: 40px;

    i, a, p {
      color: rgba(255, 255, 255, 0.9);
    }

    a, p {
      display: block;
      padding: 13px 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
        cursor: pointer;
      }
    }

  }
}
