.main-title {
  .skill-mode {
    float:right;
    margin-top:2px;
    font-weight:normal;
    font-size:14px;
    color:rgba(255,255,255,0.5);

    &.active {
      color:#ffffff;
    }

    .checkbox {
      margin-left:10px;
    }
  }
}

.skill-header {
  @extend .challenge-header;
  &.suggested,
  &.prevalidated,
  &.validated_no_test,
  &.validated,
  &.archived,
  &.need-work,
  &.to-be-submitted {
    background-color:#444488 !important;
    color:#ffffff !important;
  }
}

.skill-data {
  @extend .challenge-data;
}

.ui.menu.skill-menu {
  @extend %challenge-menu;
}

.skill-details {
  @extend .challenge;
  .find-tutorial-card{
    margin-left:20px;
  }
}
