.main-title {
  .skill-mode {
    float: right;
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

    &.active {
      color: #ffffff;
    }

    .checkbox {
      margin-left: 10px;
    }
  }
}

.skill-header {
  @extend .challenge-header;

  &.suggested,
  &.prevalidated,
  &.validated_no_test,
  &.validated,
  &.archived,
  &.need-work,
  &.to-be-submitted {
    background-color: #444488 !important;
    color: #ffffff !important;

    .ui.button {
      color: #ffffff !important;
    }
  }
}

.skill-data {
  @extend .challenge-data;
}

.ui.menu.skill-menu {
  @extend %challenge-menu;
}

.skill-details {
  @extend .challenge;

}
.search-result{
  border-radius: 5px;
  li{
    padding:.8em 1.14em;
    border-bottom: solid 1px rgba(34,36,38,.1);
    &.ember-power-select-option[aria-current=true] .search-description{
      color:lightgrey;
    }
    .search-title{
      font-weight: bold;
    }
    .search-description{
      color:grey;
    }
  }
}


.serch-tuto-more,.search-tuto-solution{
  .results{
    max-height: 350px;
    overflow-y: scroll;
  }
}
.popin-create-tuto {
  .btn-selected-tag {
    margin-bottom: 5px;
  }

  .crush {
    color: red;

    &:hover {
      color: red;
    }
  }

}

