.main-title {
  .target-profile-mode {
    float: right;
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

    &.active {
      color: #ffffff;
    }

    .checkbox {
      margin-left: 10px;
    }
  }
}

.target-profile {
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;


  #target-profile__open-file {
    display: none;
  }

  .competence-profile {
    color: white;
    margin-bottom: 0;
    margin-top: 1.5em;

    &.area-profile-1 {
      background: #F1A141;
    }

    &.area-profile-2 {
      background: #57C884;
    }

    &.area-profile-3 {
      background: #12A3FF;
    }

    &.area-profile-4 {
      background: #FF3F94;
    }

    &.area-profile-5 {
      background: #574DA6;
    }

    .competence-code {
      display: flex !important;
      justify-content: center;
      align-items: center;

      p {
        font-size: 2.5rem;
      }
    }

    .competence-description {
      font-size: 1rem;
    }

  }

  .tubes-profile {
    padding: 0 !important;
    background: #F3F3F3;


    .tube-description {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    .tube-profile {
      display: flex;
      align-items: stretch;

      &:hover {
        background: rgba(50,170,220,.1);
      }

      & > div {
        display: flex;
        align-items: center;
        width: 33%;

        .icon {
          position: relative;
          margin: 0 10px;
          font-size: 1.8rem !important;
          transform: translateY(0.2rem);

          &:hover {
            cursor: pointer;
          }

          &.active {
            color: #57C884
          }

          span {
            position: absolute;
            top: 0;
            left: 50%;
            color: white;
            transform: translateX(-50%);
            font-size: 1.5rem
          }
        }

        p {
          font-weight: bold;
          width: 100%;
          padding: 10px 5px;

          &.active {
            background-color: rgba(87,200,130,.3)
          }
        }
      }

      & > p {
        width: 67%;
        padding: 10px 5px;

        &.active {
          background-color: rgba(87,200,130,.3)
        }
      }

    }
  }

  .selected-tube-count {
    text-align: right;
    width: 100%;
    margin: 5px 10px 0 0;
  }
}

.popin-tube-level {
  .levels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 1px;

    &.loading {
      border-width: 0;
    }

    .level {
      cursor: pointer;
      flex: 0 1 12.5%;
      text-align: center;
      padding: 20px;
      border-color: #000000;
      border-width: 0 1px 1px 0;
      border-style: solid;
      font-size: 16px;

      &.selected {
        background-color: #88ff22;
      }

      &.disabled {
        background-color: #dddddd;
        cursor: default;
      }
    }
  }
}
