.main-title {
  .target-profile-mode {
    float:right;
    margin-top:2px;
    font-weight:normal;
    font-size:14px;
    color:rgba(255,255,255,0.5);

    &.active {
      color:#ffffff;
    }

    .checkbox {
      margin-left:10px;
    }
  }
}

.target-profile {
  width:100%;
  padding:20px;
  overflow-x:hidden;
  overflow-y:scroll;

  .ui.vertical.segment {
    border-color:rgba(34, 36, 38, 0.05);
    padding-bottom:0;
  }

  .target-profile-segment {

    .target-profile-competence {
      display:flex;
      flex-direction:row;
      align-items: center;
      flex-wrap:wrap;
      padding-top:5px;

      .selected-tube-count{
        margin-left:5px;
       color:grey;
      }

      .target-profile-tube {
        text-align: center;
        margin:0;
        cursor:pointer;
        width:32px;

        .tube-name {
          display:none;
        }

        svg {
          stroke:black;
          stroke-width:1;
          fill:#dddddd;

          &.selected-level {
            fill:#88ff22;
          }
        }
      }
    }

    > .tube-name {
      padding:0;
      min-height:20px;
      font-size:12px;
    }

  }

  &.extended{
    .target-profile-segment.ui.vertical.segment {
      padding-bottom:14px;

      > .tube-name {
        display:none;
      }
      .target-profile-competence {

        .target-profile-tube {
          margin:5px 7px;
          width:100px;

          .tube-name {
            display:block;
            overflow:hidden;
            text-overflow:ellipsis;
          }
        }
      }
    }
  }

  #target-profile__open-file {
    display:none;
  }

}

.popin-tube-level {
  .levels {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    height:60px;
    border-style:solid;
    border-color:#000000;
    border-width:1px 0 0 1px;

    &.loading {
      border-width:0;
    }

    .level {
      cursor:pointer;
      flex:0 1 12.5%;
      text-align:center;
      padding:20px;
      border-color:#000000;
      border-width:0 1px 1px 0;
      border-style:solid;
      font-size:16px;

      &.selected {
        background-color:#88ff22;
      }

      &.disabled {
        background-color:#dddddd;
        cursor:default;
      }
    }
  }
}
