body, html, body > div.ember-view, .application, .pusher, .main, .main-menu, .pusher > .column {
  height:100%;
}

.waiting {
  height:100%;
}

.main-sidebar {

  .header {
    height:40px;
    padding:10px 5px;
    font-size:20px;
    color:#ffffff;
  }

  .accordion .content a {
    white-space: nowrap;
  }

  .ui.menu {
    background:transparent;
    border:none;
    box-shadow:none;
    position:absolute;
    bottom:0;
    width:100%;
  }

  &.ui.vertical.inverted.menu {

    .menu .item {
      padding:10px;
      color:#ffffff;
      align-items:initial;
    }

    .menu .item i.icon {
      font-size:12px;
      float:none;
      margin-right:5px;
    }
  }
}

.application {
  background-color:#ffffff;
  .pusher {
    display:flex;
    flex-direction:row;
  }
}

.ui.menu.main-menu {
  border-radius:0;
  border-right:1px solid rgba(34, 36, 38, 0.15);
}

.main {
  display:flex;
  flex-direction:row;
  flex:1;
  position:relative;
  min-width:0;


  .ui[class*="top attached"].menu {
    margin:0;
    border-radius:0;
  }

  .ui[class*="bottom attached"].menu {
    margin:0;
    border-radius:0;
  }

  .ui.attached {

    &.menu:not(.tabular) {
    border:none;
    border-bottom:1px solid rgba(34, 36, 38, 0.15);
    background-color:#F9FAFB;
    }

    + .ui.attached.menu:not(.top) {
      border-top:1px solid rgba(34, 36, 38, 0.15);
    }

    &.segment {
      margin:0;
      border:none;
      padding:0;
    }
  }


  .main-left,
  .main-right {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    box-sizing:border-box;
    overflow:hidden;
    min-width:0;
    border-left:10px solid #dfe1e4;
  }

  .messages {
    position:absolute;
    right:5px;
    top:5px;
  }
}
.main-title {
  box-sizing:border-box;
  padding:0 10px;
  border-bottom:1px solid rgba(34, 36, 38, 0.15);
  background-color:#3498db;
  h1 {
    font-size:20px;
    font-weight:normal;
    padding:6px 0;
    color:#FFFFFF;

    .ui.right.floated.menu {
      background:transparent;
      border:none;
      box-shadow:none;
      min-height:0;
      a {
        padding-top:7px;
        padding-bottom:0;
        background-color:transparent;
        box-shadow:none;
        border:none;
        i {
          color:#ffffff;
        }
      }
    }

  }
  .skill-mode {
    float:right;
    margin-top:2px;
    font-weight:normal;
    font-size:14px;
    color:rgba(255,255,255,0.5);
  }

  .skill-mode.active {
    color:#ffffff;
  }

  .skill-mode .checkbox {
    margin-left:10px;
  }
}

.competence {
  flex: 1 1 0;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  justify-content:stretch;

  &.half {
    max-height:30%;
  }

  .table {
    margin:0;
    box-sizing:border-box;
    border:none;
  }
}

.competence-grid {
  height:100%;
  overflow:scroll;
  /*flex: 1 1 0;*/
  min-height:0;
}

.ui.table.tubes {
  font-size:15px;
  border-radius:0;
  margin-top:-1px;
  td {
    box-sizing:border-box;
    padding:5px;
    &.skill {
      text-align:center;
      &.active {
        color:red !important;
      }
      &.link {
        cursor:pointer;
      }
      idea.icon.validated {
        color:#08cf08;
      }
    }
  }
}

.challenge-header {
  border-top:1px solid rgba(34, 36, 38, 0.15);
  border-bottom:1px solid rgba(34, 36, 38, 0.15);
  .creation {
    font-style:italic;
  }
  .ui.menu {
    border-radius:0;
    border:none;
    box-shadow:none;
    background:transparent;
    color:inherit;

    .item {
      color:inherit;
      &.header {
        padding-top:10px;
        padding-bottom:10px;
        flex:1;
        justify-content:center;
        font-size:20px;
        font-weight:normal;
      }
    }

    > .item:first-child {
      border-radius:0;
    }

    .item::before {
      display:none;
    }
  }
}

td.skill.link.validated,
td.skill.link.validated.active,
td.skill.link.described,
td.skill.link.described.active,
.challenge-header.validated,
.challenge-header.described {
  background-color:#08cf08 !important;
}
td.skill.link.validated_no_test,
td.skill.link.validated_no_test.active,
.challenge-header.validated_no_test {
  background-color:#00ff00 !important;
}
td.skill.link.suggested,
td.skill.link.suggested.active,
td.skill.link.undescribed,
td.skill.link.undescribed.active,
.challenge-header.suggested,
.challenge-header.undescribed {
  background-color:#4283ed !important;
  color:#ffffff;
}

td.skill.link.prevalidated,
td.skill.link.prevalidated.active,
.challenge-header.prevalidated {
  background-color:#aaFFaa !important;
}
td.skill.link.archived,
td.skill.link.archived.active,
.challenge-header.archived {
  background-color:#aa1efc !important;
  color:#ffffff;
}
td.skill.link.suggested,
td.skill.link.suggested.active,
.challenge-header.suggested {
  background-color:#4283ed !important;
  color:#ffffff;
}

.alternative {
  color:rgba(0, 0, 0, 0.87);
  font-size:12px;
  .production {
    color:#0000FF;
  }
  .workbench {
    color:#FF0000;
  }
  .not-declinable {
    font-weight:bold;
  }
}


.challenge,
.skill-details {
  flex:1 1 0;
  overflow:hidden;
  display:flex;
  flex-direction:row;
  .ui.labeled.icon.menu .item {
    text-align:left;
    > .icon:not(.dropdown) {
      display:inline;
      margin-right:10px !important;
    }
  }
}

img.clickable {
  max-height:80px;
  max-width:400px;
  cursor:pointer;
}

.modal img {
  max-height:500px;
  margin:auto;
}

.ui.inverted.menu {
  background-color:#3498db;
}
.ui.inverted.menu .item {
  color:#ffffff;
}

.challenge-data,
.skill-data {
  padding:10px 20px;
  box-sizing:border-box;
  flex:1;
  overflow:scroll;
  .ui.form {
    margin-bottom:20px;
    .disabled.field {
      pointer-events:auto;
      opacity:1;
      > label {
        opacity:1;
      }
    }

    .mde-preview {
      border-radius:0.28571429rem;
      border:1px solid rgba(34, 36, 38, 0.15);
      padding:0.78571429em 1em;
      height:95px;
      overflow:scroll;
      background-color:#f9f9f9;
    }

    .field.disabled {
      textarea,
      input[type="text"],
      .selection {
        background-color:#f9f9f9;
      }
    }

    .field.textArea.maximized{
      background-color:#ffffff;
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      z-index:100;
      margin-bottom:0;

      .field {
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:strech;

        textarea {
          display:block;
          flex-grow:1;
        }
      }

    }

  }

}

.ui.menu.challenge-menu,
.ui.menu.skill-menu {
  border:none;
  box-shadow:none;
  margin-top:0;
  border-left:1px solid rgba(34, 36, 38, 0.15);

  div.item::before {
    display:none;
  }

  .item {
    &.publish{
      color:#d02185;
    }

    &.alternatives {
      color:#2185d0;
    }

  }
}

.ui.disabled.dropdown {
  opacity:1;
  i.icon {
    display:none;
  }
}

.hidden{
  display:none !important;
}


#copyZone {
  position:absolute;
  color:#ffffff;
  background:transparent;
  right:0;
  bottom:0;
  border:none;
  outline:none;
}

.ui.message {
  z-index:3;
}

.ui.icon.menu .item.important-action,
.ui.icon.menu .item.important-action:hover{
  color:#ff0000;
}

.CodeMirror {
  min-height:100px;
  height:100px;
}

.CodeMirror-scroll {
  min-height:auto;
}

.file-remove {
  cursor:pointer;
}

.file-remove i {
  vertical-align:top
}

.ui.form .field > label.file-upload {
  margin-top:5px;
}

.template-list,
.alternative-list,
.own-note-list,
.changelog-entry-list,
.note-list {
  height:100%;
  display:flex;
  flex-direction:column;

  .list-header {
    height:40px;
    background-color:#F9FAFB;
    font-weight:bold;
  }

  .list-body {
    flex:1;
    position:relative;
  }

  .list-row {
    height:100%;
    cursor:pointer;

    .list-item {
      float:left;
      height:100%;
      border-left:1px solid rgba(34, 36, 38, 0.1);
      border-bottom:1px solid rgba(34, 36, 38, 0.1);
      box-sizing:border-box;
      padding:10px;
      overflow:hidden;
      white-space:nowrap;

      &:first-child,
      &:nth-child(3),
      &:nth-child(4) {
        width:15%;
      }

      &:nth-child(2) {
        width:55%;
      }

      &.sorting::after {
        display: inline-block;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        height: 1em;
        width: auto;
        opacity: .8;
        margin: 0 0 0 .5em;
        font-family: Icons;
      }

      &.sorting.descending::after {
        content: '\f0d7';
      }

      &.sorting.ascending::after {
        content: '\f0d8';
      }
    }

    &.active {
      background-color:#ffffcc;
    }
  }
}

.alternative-list {
  .list-body .list-row {
    color:#0000ff;

    &.workbench {
      color:#ff0000;
    }
  }
}

.challenge-log {
  .tab.segment {
    min-height:400px;
    max-height:400px;
    padding:0;
      &.ui.bottom.attached:last-child {
        margin-bottom:1rem;
      }
  }

  .own-note-list,
  .changelog-entry-list,
  .note-list {
    .list-row .list-item {
      &:first-child {
        border-left:none;
      }
    }
  }

  .note-list {
    .list-row .list-item {
      &:first-child,
      &:nth-child(2),
      &:nth-child(4) {
        width:15%;
      }

      &:nth-child(3) {
        width:55%;
      }
    }
  }

  .own-note-list {
    .list-row .list-item {
      &:first-child,
      &:nth-child(3) {
        width:20%;
      }

      &:nth-child(2) {
        width:60%;
      }
    }
  }

  .changelog-entry-list {
    .list-row .list-item {
      &:first-child {
        border-left:none;
      }

      &:first-child,
      &:nth-child(2) {
        width:20%;
      }

      &:nth-child(3) {
        width:60%;
      }
    }
  }

  .ui.menu.note-menu {
    justify-content:center;

    .item {
      color:#2185d0;
    }

  }
}