<header class="page-header">
  <h1 class="page-title">Modification d'une mission</h1>
</header>
<main class="page-body">
  <section class="page-section">
    <Form::Mission
      @mission={{this.model.mission}}
      @competences={{this.model.competences}}
      @onFormCancelled={{this.goBackToMission}}
      @submitButtonText="Modifier la mission"
      @onFormSubmitted={{this.editMission}}
    />
  </section>
</main>
