# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp

# dependencies
**/node_modules

# misc
api/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
**/.node_modules.ember-try/
**/bower.json.ember-try
**/package.json.ember-try
pix-editor/scripts/config.js
pix-editor/scripts/config-production.js
pix-editor/scripts/config-test.js
pix-editor/app/config-private-test.js

# intellij
pix-editor/.idea/
pix-editor/app/.idea/
