version: "3"

services:
  postgres:
    image: postgres:14.6-alpine
    ports:
      - "5444:5432"
    environment:
      POSTGRES_DB: pix_lcms
      POSTGRES_HOST_AUTH_METHOD: trust

  redis:
    image: redis:7.2-alpine
    ports:
      - "6380:6379"
