<LinkTo @route="competence.prototypes.list" @models={{array @tube.id @skill.level}} @tagName="td" class="skill skill-cell link workbench">
  {{@skill.name}}
  <div class="alternative">
    <span class="alternative-count">{{@skill.prototypes.length}}</span>
    {{#if @skill.productionPrototype.notDeclinable}}
      <span class="not-declinable">NR</span>
    {{/if}}
  </div>
</LinkTo>
