
<LinkTo @route="competence.skills.history" @models={{array @tube.id @level}} class="skill skill-cell link history" @tagName="td">
  <div class="skill-name ">
    {{@skill.name}}
  </div>
  <div>
    <i class="archive icon"></i>{{this.archivedCount}} | <span class="deleted-skill"><i class="trash alternate icon"></i>({{this.deletedCount}})</span>
  </div>
</LinkTo>
