<td class="skill-cell i18n">
  <LinkTo @route="competence.i18n.single" @model={{@skill}} class="skill-cell__link">
    <div class="skill-i18n-name">
      {{@skill.name}}
    </div>
    <div class="flags">
      {{#each this.languagesAndFlags as |languageAndFlag| }}
        <i class="{{languageAndFlag.flag}} flag" title="{{languageAndFlag.language}}"></i>
      {{/each}}
    </div>
  </LinkTo>
</td>

