<LinkTo @route="competence.i18n.single" @model={{@skill}} @tagName="td" class="skill skill-cell link i18n">
  <div class="skill-i18n-name">
    {{@skill.name}}
  </div>
  <div class="flags">
    {{#each this.skillFlagsAndLanguages as |flagAndLanguage| }}
      <i class="{{flagAndLanguage.flag}} flag" title="{{flagAndLanguage.language}}"></i>
    {{/each}}
  </div>
</LinkTo>
