<header class="page-header">
  <h1 class="page-title">Création d'un test</h1>
</header>
<main class="page-body">
  <section class="page-section">
    <Form::StaticCourse
      @initialName=""
      @initialDescription=""
      @initialChallengeIds=""
      @cancelButtonText="Annuler"
      @onFormCancelled={{this.goBackToList}}
      @submitButtonText="Créer le test statique"
      @onFormSubmitted={{this.createStaticCourse}}
    />
  </section>
</main>