<div class="ui grid">
    <h2 class="row">
        <div class="column center">
           {{competence.code}}
        </div>
        <div class="fourteen wide column">
            <div>{{competence.title}}</div>
            <div class="competence-description">{{competence.description}}</div>
        </div>
    </h2>
</div>