@use 'pix-design-tokens/shadows' as *;

.filter-whitelisted-url-form {
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-weight: 500;
    }

    .pix-input {
      width: 100%;
    }

    .pix-textarea {
      width: 100%;
    }
  }
}

.whitelisted-urls-table {
  .pix-table {
    @extend %pix-shadow-sm;
  }

  .column {
    &--small {
      width: 8%;
      max-width: 150px;
    }

    &--wide {
      width: 25%;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: auto;
  }
}
