PORT=4000

# ================
# LEARNING CONTENT
# ================

# API key provided by learning content management system.
#
# If not present and if the Redis cache were not enabled/preloaded, the
# application will crash during data fetching.
#
# presence: required
# type: String
# default: none
LCMS_API_KEY=e5d7b101-d0bd-4a3b-86c9-61edd5d39e8d

# Learning content API URL.
#
# If not present and if the Redis cache were not enabled/preloaded, the
# application will crash during data fetching.
#
# presence: required
# type: String
# default: none
LCMS_API_URL=https://lcms.minimal.pix.fr/api