---
version: 2.0

jobs:
  pix-editor-build:
    docker:
      - image: circleci/node:12.18
    steps:
      - checkout
      - run: |
          cd pix-editor
          npm ci
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
          paths:
            - ~

  pix-editor-test:
    docker:
      - image: circleci/node:12.18-browsers
        environment:
          CHROME_BIN: "/usr/bin/google-chrome"
    steps:
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
      - run: |
          echo "export default { airtableBase: '$AIRTABLE_BASE', airtableApiKey: '$AIRTABLE_API_KEY' };" > pix-editor/tests/test-env.js
      - run: |
          cd pix-editor
          JOBS=2 npm test

  checkout:
    docker:
      - image: circleci/node:12.18
    working_directory: ~/pix-editor
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/pix-editor
          paths:
            - .
  api_build_and_test:
    docker:
      - image: circleci/node:12.18
      - image: postgres:12.3-alpine
        environment:
          POSTGRES_USER: circleci
          POSTGRES_HOST_AUTH_METHOD: trust
    working_directory: ~/pix-editor/api
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-api-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v7-api-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          command: |
            npm run lint
            npm test
          environment:
            TEST_DATABASE_URL: postgres://circleci@localhost:5432/circleci

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout
      - api_build_and_test:
          requires:
            - checkout
      - pix-editor-build
      - pix-editor-test:
          requires:
            - pix-editor-build
