---
version: 2

jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: npm install
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
          paths:
            - ~

  test:
    docker:
      - image: circleci/node:10.14-browsers
        environment:
          CHROME_BIN: "/usr/bin/google-chrome"
    steps:
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
      - run: npm test

  deploy_to_ghpages:
    docker:
      - image: circleci/node:latest
    steps:
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
      - add_ssh_keys:
          fingerprints:
            - "ee:d4:4c:1e:b4:d2:77:17:71:af:a4:86:2d:65:39:4b"
      - run: ssh-keyscan github.com > ~/.ssh/known_hosts
      - run: |
          git config user.email "$GITHUB_EMAIL"
          git config user.name "$GITHUB_NAME"
          #git config push.default upstream
          git worktree add dist gh-pages
      - run: npm run build:production
      - run: |
          cd dist
          echo "editor.pix.fr" > CNAME
          git add --all
          git commit -m "Deploy to gh-pages"
          git push origin gh-pages --force
workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy_to_ghpages:
          requires:
            - build
            - test
          filters:
            branches:
              only: master