---
version: 2.0

jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: npm install
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
          paths:
            - ~

  test:
    docker:
      - image: circleci/node:latest-browsers
        environment:
          CHROME_BIN: "/usr/bin/google-chrome"
    steps:
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
      - run: |
          JOBS=2 npm test

  deploy_to_ghpages:
    docker:
      - image: circleci/node:latest
    steps:
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          key: v2-pix-editor-{{ checksum ".circle-sha" }}
      - add_ssh_keys:
          fingerprints:
            - "ee:d4:4c:1e:b4:d2:77:17:71:af:a4:86:2d:65:39:4b"
      - run: ssh-keyscan github.com > ~/.ssh/known_hosts
      - run: |
          git config user.email "$GITHUB_EMAIL"
          git config user.name "$GITHUB_NAME"
          git config push.default upstream
          git fetch origin gh-pages:gh-pages --force
          rm -Rf deploy
          git worktree prune
          git worktree add deploy gh-pages
          rm -Rf deploy/*
      - run: npm run build:production
      - run: |
          cp -r dist/* deploy
          cd deploy
          echo "editor.pix.fr" > CNAME
          git add .
          git commit --allow-empty -m "Deploy to gh-pages"
          git push origin gh-pages

  checkout:
    docker:
      - image: circleci/node:12.14.0
    working_directory: ~/pix-editor
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/pix-editor
          paths:
            - .
  api_build_and_test:
    docker:
      - image: circleci/node:12.14.0
    working_directory: ~/pix-editor/api
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-api-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v7-api-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          command: |
            npm run lint
            npm test

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - checkout:
          filters:
            branches:
              ignore:
                - master
                - gh-pages
      - api_build_and_test:
          requires:
            - checkout
      - build:
          filters:
            branches:
              only: master
      - test:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy_to_ghpages:
          requires:
            - build
            - test
          filters:
            branches:
              only: master
