---
version: 2.0

jobs:
  pix-editor-test:
    docker:
      - image: circleci/node:14.15.4-browsers
        environment:
          JOBS: 2
    working_directory: ~/pix-editor/pix-editor
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v2-pix-editor-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v2-pix-editor-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          name: Test
          command: |
            npm test

  checkout:
    docker:
      - image: circleci/node:14.15.4
    working_directory: ~/pix-editor
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/pix-editor
          paths:
            - .

  api_build_and_test:
    docker:
      - image: circleci/node:14.15.4
      - image: postgres:12.3-alpine
        environment:
          POSTGRES_USER: circleci
          POSTGRES_HOST_AUTH_METHOD: trust
    working_directory: ~/pix-editor/api
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-api-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v7-api-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          command: |
            npm run lint
            npm test
          environment:
            TEST_DATABASE_URL: postgres://circleci@localhost:5432/circleci

  scripts_test:
    docker:
      - image: circleci/node:14.15.4
    working_directory: ~/pix-editor/scripts
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v1-scripts-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v1-scripts-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          command: |
            npm test

  e2e_test:
    docker:
      - image: cypress/browsers:node14.15.0-chrome86-ff82
      - image: postgres:12.4-alpine
        environment:
          POSTGRES_USER: circleci
          POSTGRES_HOST_AUTH_METHOD: trust
    working_directory: ~/pix-editor/end-to-end-tests
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-e2e-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v7-e2e-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm

      - run:
          working_directory: ~/pix-editor/api
          command: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-api-npm-{{ checksum "~/pix-editor/api/cachekey" }}
      - run:
          working_directory: ~/pix-editor/api
          environment:
            DATABASE_URL: 'postgres://circleci@localhost:5432/circleci'
          command: npm ci

      - run:
          working_directory: ~/pix-editor/pix-editor
          command: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-pix-editor-npm-{{ checksum "~/pix-editor/pix-editor/cachekey" }}
      - run:
          environment:
            JOBS: 1
          working_directory: ~/pix-editor/pix-editor
          command: npm ci

      - run:
          working_directory: ~/pix-editor/api
          environment:
            DATABASE_URL: 'postgres://circleci@localhost:5432/circleci'
          background: true
          command: npm start

      - run:
          working_directory: ~/pix-editor/pix-editor
          environment:
            JOBS: 1
          background: true
          command: npm start

      - run:
          environment:
            DATABASE_URL: 'postgres://circleci@localhost:5432/circleci'
          command: |
            wget --retry-connrefused -T 60 -qO- http://localhost:4300
            wget --retry-connrefused -T 60 -qO- http://localhost:3002/api
            npm run cy:run:ci

      - store_artifacts:
          path: cypress/screenshots

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout
      - api_build_and_test:
          requires:
            - checkout
      - pix-editor-test:
          requires:
            - checkout
      - e2e_test:
          requires:
            - checkout
      - scripts_test:
          requires:
            - checkout
