---
version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4.3

executors:
  node-docker:
    parameters:
      node-version:
        # renovate datasource=node-version depName=node
        default: 16.20.1
        type: string
    docker:
      - image: cimg/node:<<parameters.node-version>>
    resource_class: small
  node-redis-postgres-docker:
    parameters:
      node-version:
        # renovate datasource=node-version depName=node
        default: 16.20.1
        type: string
    docker:
      - image: cimg/node:<<parameters.node-version>>
      - image: postgres:14.6-alpine
        environment:
          POSTGRES_USER: circleci
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: redis:6.2.10-alpine
    resource_class: small
  node-browsers-docker:
    parameters:
      node-version:
        # renovate datasource=node-version depName=node
        default: 16.20.1
        type: string
    docker:
      - image: cimg/node:<<parameters.node-version>>-browsers
        environment:
          JOBS: 2
    resource_class: small
  node-browsers-redis-postgres-docker:
    parameters:
      node-version:
        # renovate datasource=node-version depName=node
        default: 16.20.1
        type: string
    docker:
      - image: cimg/node:<<parameters.node-version>>-browsers
      - image: postgres:14.6-alpine
        environment:
          POSTGRES_USER: circleci
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: redis:6.2.10-alpine
    resource_class: medium


jobs:
  pix-editor-test:
    executor: node-browsers-docker
    working_directory: ~/pix-editor/pix-editor
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - browser-tools/install-chrome
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v2-pix-editor-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v2-pix-editor-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Test
          command: |
            npm test

  checkout:
    executor: node-docker
    working_directory: ~/pix-editor
    steps:
      - checkout
      - persist_to_workspace:
          root: ~/pix-editor
          paths:
            - .

  api_build_and_test:
    executor: node-redis-postgres-docker
    working_directory: ~/pix-editor/api
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-api-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v7-api-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          command: |
            npm run lint
            npm test
          environment:
            TEST_DATABASE_URL: postgres://circleci@localhost:5432/circleci

  scripts_test:
    executor: node-docker
    working_directory: ~/pix-editor/scripts
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v1-scripts-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v1-scripts-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm
      - run:
          command: |
            npm run lint
            npm test

  e2e_test:
    executor: node-browsers-redis-postgres-docker
    working_directory: ~/pix-editor/end-to-end-tests
    steps:
      - attach_workspace:
          at: ~/pix-editor
      - run: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-e2e-npm-{{ checksum "cachekey" }}
      - run: npm ci
      - save_cache:
          key: v7-e2e-npm-{{ checksum "cachekey" }}
          paths:
            - ~/.npm

      - run:
          working_directory: ~/pix-editor/api
          command: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-api-npm-{{ checksum "~/pix-editor/api/cachekey" }}
      - run:
          working_directory: ~/pix-editor/api
          environment:
            DATABASE_URL: 'postgres://circleci@localhost:5432/circleci'
          command: npm ci

      - run:
          working_directory: ~/pix-editor/pix-editor
          command: cat package*.json > cachekey
      - restore_cache:
          keys:
            - v7-pix-editor-npm-{{ checksum "~/pix-editor/pix-editor/cachekey" }}
      - run:
          environment:
            JOBS: 1
          working_directory: ~/pix-editor/pix-editor
          command: npm ci

      - run:
          working_directory: ~/pix-editor/api
          environment:
            DATABASE_URL: 'postgres://circleci@localhost:5432/circleci'
          background: true
          command: npm start

      - run:
          working_directory: ~/pix-editor/pix-editor
          environment:
            JOBS: 1
          background: true
          command: npm start

      - run:
          environment:
            DATABASE_URL: 'postgres://circleci@localhost:5432/circleci'
          command: |
            wget --retry-connrefused -T 60 -qO- http://localhost:4300
            wget --retry-connrefused -T 60 -qO- http://localhost:3002/api
            npm run cy:run:ci

      - store_artifacts:
          path: cypress/screenshots

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout
      - api_build_and_test:
          requires:
            - checkout
      - pix-editor-test:
          requires:
            - checkout
      - e2e_test:
          requires:
            - checkout
      - scripts_test:
          requires:
            - checkout
