.bold {
  font-weight: bold;
}

.white-font {
  color: $pix-neutral-0 !important;
}

.form-error {
  width: 100%;
  color: $pix-error-70;
  font-weight: bold;
  margin-bottom: 16px;
}

.pix-button-link-with-icon {
  > svg {
    margin-right: 8px;
  }
}

.disabled-link-with-icon {
  pointer-events: none;
  > svg {
    color: $pix-neutral-30;
  }
}

.disabled-tooltip-content {
  > span {
    cursor: not-allowed;
  }
}
