.modules-list {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  &__status {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pix-spacing-1x);
  }
}

th.modules-list__actions {
  display: flex;
  justify-content: center;
}

td.modules-list__actions {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--pix-spacing-2x);
}
