@use 'pix-design-tokens/typography';

.modules-list {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);

  &__status {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pix-spacing-1x);
  }
}

th.modules-list__actions {
  display: flex;
  justify-content: center;
}

td.modules-list__actions {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--pix-spacing-2x);
}

.draft-module-diff {
  border-top: 1px solid var(--pix-neutral-500);

  pre.shiki {
    max-height: 70vh;
    margin: 0;
    padding: var(--pix-spacing-4x);
    overflow: scroll;

    span {
      @extend %pix-monospace;

      font-size: 14px;
      line-height: 14px;
    }
  }
}


.module {
  &__header {
    background: var(--pix-neutral-0);
    padding: var(--pix-spacing-4x) var(--pix-spacing-5x);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__data-field {
    display: flex;
    flex-direction: column;
    background-color: var(--pix-neutral-20);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid var(--pix-neutral-500);

    label {
      padding: var(--pix-spacing-4x);
    }
  }
}

.module-header {
  &__breadcrumb {
    padding-bottom : var(--pix-spacing-4x);
  }

  &__tag {
    text-transform: uppercase;
  }

  &__title {
    @extend %pix-title-s;
  }

  &__information {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
  }
}
