@use '../global';

// stylelint-disable color-no-hex, color-named

.target-profile-view {
  &__title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--pix-orga-500);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  &__heading {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0;
    padding: 6px 0;
    gap: 24px;
  }

  &__filter {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgba(255, 255, 255, 0.5);
  }

  & .pix-checkbox label {
    margin-left: 45px;
    color: var(--pix-neutral-0);
  }

  & .pix-checkbox input[type="checkbox"]  {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 500rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;

    &:hover {
      &::before {
        background-color: transparent;
      }
    }

    &::after {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      transition: left 0.3s ease;
      content: '';
    }
  }

  & .pix-checkbox input[type="checkbox"]:checked {
    background-color: var(--pix-orga-300);

    &::after {
      left: 21px;
    }
  }

  & .pix-checkbox input[type="checkbox"]::focus {
    box-shadow: 0 0 0 2px rgba(33, 133, 208, 0.5);
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0;
  }

  &__menu-group {
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    padding: 6px 8px;

    &--right {
      margin-left: auto;
    }
  }

  &__summary {
    display: flex;
    margin: 0;
    padding: 1em 1.5em;
    color: white;
    background: black;
  }

  &__summary-row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__summary-framework {
    width: 20%;
    min-width: 150px;
  }

  &__summary-spacer {
    flex: 1;
  }

  &__summary-count {
    text-align: right;
  }

  &__framework-label {
    color: white;
  }

  &__body {
    width: 100%;
    overflow: hidden scroll;

    #target-profile__open-file {
      display: none;
    }
  }
}
