@use 'pix-design-tokens/colors';

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: colors.$pix-secondary-app-gradient;

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
  }
}
