@use 'global';

// stylelint-disable color-no-hex, color-named
.alternative {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;

  .production {
    color: global.$production-alternative-color;
  }

  .draft {
    color: global.$draft-alternative-color;
  }

  .not-declinable {
    font-weight: bold;
  }

  .alternative-count {
    color: global.$alternative-count-color;
  }
}

.challenge {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  overflow: hidden;

  .cards > .card {
    > .content,
    > .content > .header {
      font-size: 14px;
    }
  }

  &--loading {
    align-items: center;
    justify-content: center;
  }
}

img.clickable {
  max-width: 400px;
  max-height: 80px;
  cursor: pointer;
}

.modal img {
  max-height: 500px;
  margin: auto;
}

.dropdown-content-challenge {
  & > .item {
    margin: 0;
    padding: 0.7em 1.4em;
    font-size: 16px !important;
    border-radius: 0;

    &.validate {
      color: global.$production-color !important;
      background-color: global.$production-background-color !important;
    }

    &.archive {
      color: global.$archived-color !important;
      background-color: global.$archived-background-color !important;
    }
  }
}

.challenge-header {
  padding: 10px;
  background-color: rgba(var(--pix-neutral-300-inline) , 0.6);
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  .creation {
    font-style: italic;
  }

  &__menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    background: transparent;
  }

  &__left,
  &__right {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__title {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
  }

  &__action {
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}

.bullet_status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.skill {
    background-color: global.$skill-background-color !important;
  }

  &.challenge {
    background-color: global.$challenge-background-color !important;
  }
}

.challenge-data {
  flex: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  overflow: scroll;

  .form {
    margin-bottom: 20px;

    .label-input {
      min-width: 70px;
      padding: 9px 5px;
      text-align: left;
    }

    .disabled.field {
      opacity: 1;
      pointer-events: auto;

      > label {
        opacity: 1;
      }
    }

    .field.disabled {
      textarea,
      input[type='text'],
      .selection {
        background-color: #f9f9f9;
      }
    }

    .field.textArea.maximized {
      position: fixed;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      padding: 10px;
      background-color: #fff;
      inset: 0;

      label {
        margin-top: 5px;
      }

      textarea {
        display: block;
        flex-grow: 1;
        margin-bottom: 20px;
      }
    }
  }
}

.challenge-status-actions {
  position: relative;
  display: flex;
  align-items: center;

  &__menu {
    position: absolute;
    top: 45px;
    z-index: 1000000;
    background: white;
    border: solid lightgray 1px;
    border-radius: 5px;
  }
}

%challenge-menu {
  margin-top: 0;
  border: none;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;

  div.item::before {
    display: none;
  }

  .item {
    &.alternatives {
      color: #2185d0;
    }
  }

  .switch-genealogy {
    display: flex;
    flex-direction: row !important;
    gap: 0.25rem;
    align-items: center;

    i {
      width: 16px !important;
      margin-bottom: 0;
    }
  }
}

#copyZone {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.file-remove .pix-icon {
  vertical-align: top;
}

.translation-link {
  display: inline-flex;
  align-items: center;
  padding: 6px;
}

.form .field > label.file-upload {
  margin-top: 5px;
}

.challenge_languages {
  display: flex;
  justify-content: center;
}
