.alternative {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;

  .production {
    color: $production-alternative-color;
  }

  .draft {
    color: $draft-alternative-color;
  }

  .not-declinable {
    font-weight: bold;
  }

  .alternative-count {
    color: $alternative-count-color;
  }
}


.challenge {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  overflow: hidden;

  .ui.labeled.icon.menu {
    overflow-y: auto;

    .item {
      text-align: left;

      > .icon:not(.dropdown) {
        display: inline;
        margin-right: 10px !important;
        font-size: 1.2em !important;
      }
    }
  }

  label .ui.icon.right {
    border: none;
    box-shadow: none;
  }

  .ui.cards > .card {

    .header .ui.button > .icon {
      margin-right: 0;
    }

    > .content,
    > .content > .header {
      font-size: 14px;
    }
  }


}

img.clickable {
  max-width: 400px;
  max-height: 80px;
  cursor: pointer;
}

.modal img {
  max-height: 500px;
  margin: auto;
}

.dropdown-content-challenge {
  & > .item {
    margin: 0;
    padding: .7em 1.4em;
    font-size: 16px !important;
    border-radius: 0;

    &.validate {
      color: $production-color !important;
      background-color: $production-background-color !important;
    }

    &.archive {
      color: $archived-color !important;
      background-color: $archived-background-color !important;
    }
  }

}

.challenge-header {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  .creation {
    font-style: italic;
  }

  .ui.menu .ui.dropdown {
    i {
      font-size: 14px;
    }
  }

  .ui.menu {
    color: inherit;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;

    .circular {
      &.validated {
        color: var(--pix-neutral-800) !important;
        background: $validated-background-color !important;
      }

      &.suggested {
        color: var(--pix-neutral-800) !important;
        background: $suggested-background-color !important;
      }

      &.archived {
        background: $archived-background-color !important;
      }

      &.deleted {
        background: $deleted-background-color !important;
      }
    }

    .item {
      color: inherit;

      &.header {
        flex: 1;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: normal;
        font-size: 20px;
      }
    }

    > .item:first-child {
      border-radius: 0;
    }

    .item::before {
      display: none;
    }

    .ember-basic-dropdown-trigger, .ember-basic-dropdown-trigger .item {
      height: 100%;
    }

    .ember-basic-dropdown-content .ui.button {
      margin: 0;
    }
  }

  &.prevalidated,
  &.validated_no_test,
  &.validated,
  &.suggested,
  &.archived,
  &.deleted,
  &.to-be-submitted,
  &.need-work {
    background-color: $challenge-background-color !important;
  }
}

.challenge-data {
  flex: 1;
  box-sizing: border-box;
  padding: 10px 20px;
  overflow: scroll;

  .ui.form {
    margin-bottom: 20px;

    .label-input {
      min-width: 70px;
      padding: 9px 5px;
      text-align: left;
    }

    .disabled.field {
      opacity: 1;
      pointer-events: auto;

      > label {
        opacity: 1;
      }
    }

    .mde-preview {
      height: 95px;
      padding: 0.78571429em 1em;
      overflow: scroll;
      background-color: var(--pix-neutral-20);
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-radius: 0.28571429rem;
    }

    .field.disabled {
      textarea,
      input[type="text"],
      .selection {
        background-color: var(--pix-neutral-20);
      }
    }

    .field.textArea.maximized {
      position: fixed;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      padding: 10px;
      background-color: var(--pix-neutral-0);
      inset: 0;

      label {
        margin-top: 5px;
      }

      textarea {
        display: block;
        flex-grow: 1;
        margin-bottom: 20px;
      }

    }
  }
}

%challenge-menu {
  margin-top: 0;
  border: none;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;

  div.item::before {
    display: none;
  }

  .item {

    &.alternatives {
      color: var(--pix-info-500);
    }
  }
}

.ui.menu.challenge-menu {
  @extend %challenge-menu;
}

#copyZone {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--pix-neutral-0);
  background: transparent;
  border: none;
  outline: none;
}

.file-remove {
  cursor: pointer;
}

.file-remove i {
  vertical-align: top
}

.ui.form .field > label.file-upload {
  margin-top: 5px;
}

.ui.icon.menu .item.important-action,
.ui.icon.menu .item.important-action:hover {
  color: #d02181;
}

.challenge_languages {
  display: flex;
  justify-content: center;
}
