// stylelint-disable color-no-hex, color-named

.popin-prototype-log,
.popin-alternative-log {
  .own-note-list,
  .changelog-entry-list,
  .note-list {
    flex: 1;

    .list-row .list-item {
      &:first-child {
        border-left: none;
      }
    }
  }

  .note-list {
    .list-row .list-item {
      &:first-child,
      &:nth-child(2),
      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 55%;
      }
    }
  }

  .own-note-list {
    .list-row .list-item {
      &:first-child,
      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 60%;
      }
    }
  }

  .changelog-entry-list {
    .list-row .list-item {
      &:first-child {
        border-left: none;
      }

      &:first-child,
      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 60%;
      }
    }
  }

  .note-menu {
    display: flex;
    justify-content: center;
  }

  .form {
    .field.disabled, .field.disabled label {
      opacity: 1;
      pointer-events: auto;
    }

    .field.disabled textarea, .field.disabled .selection {
      background-color: #f9f9f9;
    }
  }
}

.challenge-log__tabs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: var(--pix-spacing-2x);
  height: min-content;
  border-bottom: 2px solid var(--pix-primary-500);

  & button {
    padding: var(--pix-spacing-3x) var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: background-color ease 500ms;

    &.active {
      color: var(--pix-neutral-0);
      font-weight: var(--pix-font-bold);
      background-color: var(--pix-primary-500);
    }

    &:focus,
    &:focus-visible {
      color: var(--pix-neutral-0);
      background-color: rgba(var(--pix-primary-500-inline), 80%);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -5px;
    }

    &:active {
      background-color: rgba(var(--pix-primary-500-inline), 50%);
      outline: none;
    }

    &:hover:not(.active) {
      background-color: rgba(var(--pix-primary-500-inline), 30%);
      transition: background-color ease 500ms;
    }
  }
}
