.alternative {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;

  .production {
    color: $production-alternative-color;
  }

  .draft {
    color: $draft-alternative-color;
  }

  .not-declinable {
    font-weight: bold;
  }

  .alternative-count {
    color: $alternative-count-color;
  }
}


.challenge {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .ui.labeled.icon.menu .item {
    text-align: left;

    > .icon:not(.dropdown) {
      display: inline;
      margin-right: 10px !important;
    }
  }

  label .ui.icon.right {
    border: none;
    box-shadow: none;
  }

  .ui.cards > .card {

    .header .ui.button > .icon {
      margin-right: 0;
    }

    > .content,
    > .content > .header {
      font-size: 14px;
    }
  }


}

img.clickable {
  max-height: 80px;
  max-width: 400px;
  cursor: pointer;
}

.modal img {
  max-height: 500px;
  margin: auto;
}

.dropdown-content-challenge {
  & > .item {
    font-size: 16px !important;
    padding: .7em 1.4em;
    margin: 0;
    border-radius: 0;

    &.validate {
      color: $production-color !important;
      background-color: $production-background-color !important;
    }

    &.archive {
      color: $archived-color !important;
      background-color: $archived-background-color !important;
    }
  }

}

.challenge-header {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  .creation {
    font-style: italic;
  }

  .ui.menu .ui.dropdown {
    i {
      font-size: 14px;
    }
  }

  .ui.menu {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    color: inherit;

    .circular {
      &.validated {
        background: $validated-background-color !important;
        color: #2f2f2f !important;
      }

      &.suggested {
        background: $suggested-background-color !important;
        color: #2f2f2f !important;
      }

      &.archived {
        background: $archived-background-color !important;
      }

      &.deleted {
        background: $deleted-background-color !important;
      }
    }

    .item {
      color: inherit;

      &.header {
        padding-top: 10px;
        padding-bottom: 10px;
        flex: 1;
        justify-content: center;
        font-size: 20px;
        font-weight: normal;
      }
    }

    > .item:first-child {
      border-radius: 0;
    }

    .item::before {
      display: none;
    }

    .ember-basic-dropdown-trigger, .ember-basic-dropdown-trigger .item {
      height: 100%;
    }

    .ember-basic-dropdown-content .ui.button {
      margin: 0;
    }
  }

  &.prevalidated,
  &.validated_no_test,
  &.validated,
  &.suggested,
  &.archived,
  &.deleted,
  &.to-be-submitted,
  &.need-work {
    background-color: $challenge-background-color !important;
  }
}

.challenge-data {
  padding: 10px 20px;
  box-sizing: border-box;
  flex: 1;
  overflow: scroll;

  .ui.form {
    margin-bottom: 20px;

    .label-input {
      min-width: 70px;
      padding: 9px 5px;
      text-align: left;
    }

    .disabled.field {
      pointer-events: auto;
      opacity: 1;

      > label {
        opacity: 1;
      }
    }

    .mde-preview {
      border-radius: 0.28571429rem;
      border: 1px solid rgba(34, 36, 38, 0.15);
      padding: 0.78571429em 1em;
      height: 95px;
      overflow: scroll;
      background-color: #f9f9f9;
    }

    .field.disabled {
      textarea,
      input[type="text"],
      .selection {
        background-color: #f9f9f9;
      }
    }

    .field.textArea.maximized {
      background-color: #ffffff;
      position: fixed;
      inset: 0 0 0 0;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      padding: 10px;

      label {
        margin-top: 5px;
      }

      textarea {
        display: block;
        flex-grow: 1;
        margin-bottom: 20px;
      }

    }
  }
}

%challenge-menu {
  border: none;
  box-shadow: none;
  margin-top: 0;
  border-left: 1px solid rgba(34, 36, 38, 0.15);

  div.item::before {
    display: none;
  }

  .item {

    &.alternatives {
      color: #2185d0;
    }
  }
}

.ui.menu.challenge-menu {
  @extend %challenge-menu;
}

#copyZone {
  position: absolute;
  color: #ffffff;
  background: transparent;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
}

.file-remove {
  cursor: pointer;
}

.file-remove i {
  vertical-align: top
}

.ui.form .field > label.file-upload {
  margin-top: 5px;
}

.ui.icon.menu .item.important-action,
.ui.icon.menu .item.important-action:hover {
  color: #d02181;
}

.challenge_languages {
  display: flex;
  justify-content: center;
}
