// stylelint-disable color-no-hex, color-named

.challenge-log__tabs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: var(--pix-spacing-2x);
  height: min-content;
  border-bottom: 2px solid var(--pix-primary-500);

  & button {
    padding: var(--pix-spacing-3x) var(--pix-spacing-4x);
    color: var(--pix-neutral-900);
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: background-color ease 500ms;

    &.active {
      color: var(--pix-neutral-0);
      font-weight: var(--pix-font-bold);
      background-color: var(--pix-primary-500);
    }

    &:focus,
    &:focus-visible {
      color: var(--pix-neutral-0);
      background-color: rgba(var(--pix-primary-500-inline), 80%);
      outline: 1px solid var(--pix-neutral-0);
      outline-offset: -5px;
    }

    &:active {
      background-color: rgba(var(--pix-primary-500-inline), 50%);
      outline: none;
    }

    &:hover:not(.active) {
      background-color: rgba(var(--pix-primary-500-inline), 30%);
      transition: background-color ease 500ms;
    }
  }
}
