.select-section {
  min-width: 150px;
}

.select-section-dropdown {
  li {
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

.competence {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &.half {
    max-height: 30%;
  }

  .table {
    margin: 0;
    box-sizing: border-box;
    border: none;
  }

}

.competence-grid {
  height: 100%;
  overflow: scroll;
  /*flex: 1 1 0;*/
  min-height: 0;
}

.ui.table.tubes.definition {
  font-size: 15px;
  border-radius: 0;
  margin-top: -1px;

  td {
    box-sizing: border-box;
    padding: 5px;


    &:first-child:not(.ignored) {
      background-color: #F9FAFB;
      padding-left: 10px;
    }

    &.skill {
      text-align: center;

      &.active,
      &.active .skill-name {
        color: red !important;
      }

      &.link {
        cursor: pointer;

        &.skill-mode {
          background-color: #444488 !important;
        }

        &.i18n {
          height: 45px;
          background-color: #6223b6;

          &.active {
            background-color: #8e2dff !important;
          }

          .skill-i18n-name {
            color: white;
          }

          .flags {
            background: rgba(255, 255, 255, .7);
            margin: 5px;

            > i.flag {
              box-shadow: grey 0 0 2px;
            }
          }
        }

        .skill-name {
          margin: -5px -5px 0 -5px;
          padding: 5px 5px 0 5px;
        }

        .help {
          margin: 0 -5px -5px -5px;
          padding: 0 5px 5px 5px;
          color: $suggested-background-color;
        }

        .tuto-count {
          font-size: 12px;
        }

        &.production,
        &.production.active,
        .skill-name.production,
        .help i.production {
          background-color: $production-background-color !important;
          color: $production-color;
        }

        &.workbench,
        &.workbench.active,
        .skill-name.draft,
        .help i.draft {
          background-color: $draft-background-color !important;
          color: $draft-color;
        }

        &.suggested,
        &.suggested.active,
        .skill-name.suggested,
        .help i.suggested {
          /*background-color:$suggested-background-color !important;*/
          color: $suggested-background-color;
        }

        &.prevalidated,
        &.prevalidated.active,
        .skill-name.prevalidated,
        .help i.prevalidated {
          /*background-color:$prevalidated-background-color !important;*/
          color: $prevalidated-background-color;
        }

        &.validated_no_test,
        &.validated_no_test.active {
          /*background-color:$validated-no-test-background-color !important;*/
          color: $validated-no-test-background-color;
        }

        &.validated,
        &.validated.active,
        .skill-name.validated,
        .help i.validated {
          /*background-color:$validated-background-color !important;*/
          color: $validated-background-color;
        }

        &.link.archived,
        &.link.archived.active,
        .skill-name.archived,
        .help i.archived {
          /*background-color:$archived-background-color !important;*/
          color: $archived-background-color;
        }

        .skill-name.to-be-submitted,
        .help i.to-be-submitted {
          /*background-color:$to-be-submitted-background-color !important;*/
          color: $to-be-submitted-background-color;
        }

        .skill-name.need-work,
        .help i.need-work {
          /*background-color:$need-work-background-color !important;*/
          color: $need-work-background-color;
        }

        .help i.na {
          color: $na-color;
        }
      }

      .idea.icon.validated {
        color: #08cf08;
      }
    }

    .workbench__status {
      display: flex;
      justify-content: center;
      margin-top: 2px;

      span {
        &.draft-prototype {
          background: $suggested-background-color;
        }

        &.validated-prototype {
          background: $production-background-color;
        }

        &.archived-prototype {
          background: $archived-background-color;
          color: white;
        }

        &.deleted-prototype {
          background: $deleted-background-color;
          color: white;
        }

        &.not-declinable {
          background: white;
          color: black;
        }
      }
    }

    &.skill-workbench {
      background: #D5E8FD;

      .skill-workbench__status {
        display: flex;
        justify-content: center;
        margin-top: 2px;

        .workbench-status {
          &.active-skill {
            background: $production-background-color;
          }

          &.draft-skill {
            background: $suggested-background-color;
          }

          &.archive-skill {
            background: $archived-background-color;
            color: white;
          }

          &.deleted-skill {
            background: $deleted-background-color;
            color: white;
          }
        }
      }

      &.active {
        color: #ffffff !important;
        background: #aeb2e8 !important;
      }
    }

    &.quality-skill-link {
      padding: 0;

      .quality {
        padding: 5px;
        height: 100%;
        cursor: pointer;

        &.bad-quality {
          background: #EA2700;
          color: white;
        }

        &.medium-quality {
          background: #F3AC0B;
        }

        &.good-quality {
          background: #0DC600;
        }

        .half-tutorial {
          color: #aaa
        }
      }

      &.active {
        .quality {
          box-shadow: #000 0 0 7px;
          opacity: .8;
        }

      }
    }

    .add-skill {
      display: block;
      width: 100%;
      text-align: center;

      &:not(:hover) i {
        visibility: hidden;
      }

      &:hover i {
        visibility: visible;
      }
    }


    .quality-indication {
      display: flex;
      justify-content: space-between;

      span:nth-child(2) {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}

.prototype-list,
.alternative-list {
  height: 100%;
}

.quality-indication-details {
  tr {
    &:nth-child(even) {
      background: #FFA300;
      color: white;
    }

    &:nth-child(odd) {
      background: #FFCE4D;
    }

    td {
      padding: 5px;
      background: transparent !important;
      color: inherit !important;

      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}

.quality-tooltip {
  max-width: 350px;
}

.flag.fr-fr {
  position: relative;

  &::after {
    content: ".fr";
    position: absolute;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    top: 0;
    left: 3px;
    color: black;
  }
}

.ui.icon.menu .item > .icon:not(.dropdown) {
  margin-right: .5em;
}
