@use "global";

.main-title-filters {
  display: flex;
  gap: 2rem
}

.competence-header__language-filter {
  width: 200px;
}

.competence-management-link {
  color: var(--pix-neutral-0);

  &:hover {
    color: var(--pix-neutral-0);
    text-decoration: underline;
  }
}

.competence {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;

  &.half {
    max-height: 30%;
  }

  .table {
    box-sizing: border-box;
    margin: 0;
    border: none;
  }

}

.competence-grid {
  height: 100%;
  min-height: 0;
  overflow: scroll;
}

.ui.table.tubes.definition {
  margin-top: -1px;
  font-size: 15px;
  border-radius: 0;

  td {
    box-sizing: border-box;
    padding: 5px;

    &.theme-cell {
      width: 200px;
      padding-left: 10px;
      background: rgba(0, 0, 0, 0.01);

      &.create-tube {
        position: relative;
        text-align: center;

        a {
          display: block;
          margin-bottom: 30px;
        }

        .tube-management {
          position: absolute;
          bottom: 5px;
          display: flex;
          width: calc(100% - 15px);
          border: none;
        }
      }
    }


    &.tube-cell {
      width: 160px;
      padding-left: 10px;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.03);
      border-left: 1px solid rgba(34, 36, 38, 0.15);

    }

    &.empty-row {
      background: rgba(0, 0, 0, 0.03);
    }

    &.skill-cell {
      text-align: center;

      .skill-cell__link {
        color: var(--pix-neutral-900);
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
        }
      }

      &.production {
        &.warning {
          background: var(--pix-error-100) !important;
        }

        &.danger {
          background: var(--pix-error-500) !important;
        }
      }

      &.production,
      &.workbench {
        background-color: global.$challenge-background-color !important;

        &.active {
          position: relative;
          color: var(--pix-error-500) !important;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(146, 146, 55, 0.3);
            content: '';
          }
        }

        .workbench__status {
          display: flex;
          justify-content: center;
          margin-top: 2px;

          span {
            &.draft-prototype {
              background: global.$suggested-background-color;
            }

            &.validated-prototype {
              background: global.$production-background-color;
            }

            &.archived-prototype {
              color: var(--pix-neutral-0);
              background: global.$archived-background-color;
            }

            &.obsolete-prototype {
              color: var(--pix-neutral-0);
              background: global.$deleted-background-color;
            }

            &.not-declinable {
              color: var(--pix-neutral-900);
              background: var(--pix-neutral-0);
            }

            &.loading {
              height: 25px;
            }
          }
        }
      }

      &.skill-mode {
        &.warning {
          background: var(--pix-primary-100) !important;
        }

        &.danger {
          background: var(--pix-primary-300) !important;
        }
      }

      &.skill-mode,
      &.skill-workbench {
        background-color: global.$skill-background-color !important;

        &.active {
          position: relative;
          color: var(--pix-error-500) !important;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(124, 144, 167, 0.3);
            content: '';
          }
        }

        .idea.icon {
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);

          &.validated,
          &.prevalidated {
            color: global.$validated-background-color;
          }

          &.to-be-submitted {
            color: global.$to-be-submitted-background-color;
          }

          &.need-work {
            color: global.$need-work-background-color;
          }

          &.suggested {
            color: global.$suggested-background-color;
          }

          &.archived {
            color: global.$archived-background-color;
            text-shadow: none;
          }

          &.na {
            color: global.$na-color;
            text-shadow: none;
          }

          &.empty {
            color: global.$deleted-background-color;
          }
        }

        .tuto-count {
          font-size: 12px;
        }

        .skill-workbench__status {
          display: flex;
          justify-content: center;
          margin-top: 2px;

          .workbench-status {
            &.active-skill {
              background: global.$production-background-color;
            }

            &.draft-skill {
              background: global.$suggested-background-color;
            }

            &.archive-skill {
              color: var(--pix-neutral-0);
              background: global.$archived-background-color;
            }

            &.obsolete-skill {
              color: var(--pix-neutral-0);
              background: global.$deleted-background-color;
            }
          }
        }
      }

      &.quality-skill-cell {
        padding: 0;

        .quality {
          height: 100%;
          padding: 5px;
          cursor: pointer;

          &.bad-quality {
            color: var(--pix-neutral-0);
            background: var(--pix-error-500);
          }

          &.medium-quality {
            background: var(--pix-warning-500);
          }

          &.good-quality {
            background: var(--pix-success-500);
          }

          &.loading {
            background-color: var(--pix-neutral-500);
          }

          .half-tutorial {
            color: var(--pix-neutral-500)
          }
        }

        &.active {
          .quality {
            box-shadow: var(--pix-shadow-100) 0 0 7px;
            opacity: .8;
          }

        }
      }
    }


    .add-skill {
      display: block;
      width: 100%;
      text-align: center;

      &:not(:hover) i {
        visibility: hidden;
      }

      &:hover i {
        visibility: visible;
      }
    }


    .quality-indication {
      display: flex;
      justify-content: space-between;

      span:nth-child(2) {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}

.prototype-list,
.alternative-list {
  height: 100%;
}

.quality-indication-details {
  tr {
    &:nth-child(even) {
      color: var(--pix-neutral-0);
      background: var(--pix-warning-500);
    }

    &:nth-child(odd) {
      background: var(--pix-warning-300);
    }

    td {
      padding: 5px;
      color: inherit !important;
      background: transparent !important;

      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}

.language-filter-info {
  max-width: 400px;

  .table {
    width: 330px;

    &.skillSection {
      .color {
        width: 80px;

        &.warning {
          background: var(--pix-primary-100) !important;
        }

        &.danger {
          background: var(--pix-primary-300);
        }
      }
    }

    &.challengeSection {
      width: 380px;

      .color {
        width: 80px;

        &.warning {
          background: var(--pix-error-100) !important;
        }

        &.danger {
          background: var(--pix-error-500);
        }
      }
    }
  }
}

.quality-tooltip {
  max-width: 350px;
}

.flag.fr-fr {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 3px;
    color: var(--pix-neutral-900);
    font-weight: bold;
    font-size: 10px;
    font-style: normal;
    content: ".fr";
  }
}

.ui.icon.menu .item > .icon:not(.dropdown) {
  margin-right: .5em;
}
