.ui.small.floated.select-section {
  min-width: 150px;
  margin-bottom: 0;
}

.ui.small.floated.language-filter {
  min-width: 180px;
  margin-bottom: 0;
  font-weight: normal;

  .ember-power-select-trigger {
    color: var(--pix-neutral-0);
    background: transparent;
    border-color: var(--pix-neutral-0);

    .ember-power-select-status-icon {
      border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    }
  }
}

.select-section-dropdown, .language-filter-dropdown {
  li {
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

.competence-management-link {
  color: var(--pix-neutral-0);

  &:hover {
    color: var(--pix-neutral-0);
    text-decoration: underline;
  }
}

.competence {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: stretch;
  overflow: hidden;

  &.half {
    max-height: 30%;
  }

  .table {
    box-sizing: border-box;
    margin: 0;
    border: none;
  }

}

.competence-grid {
  height: 100%;
  min-height: 0;
  overflow: scroll;
}

.ui.table.tubes.definition {
  margin-top: -1px;
  font-size: 15px;
  border-radius: 0;

  td {
    box-sizing: border-box;
    padding: 5px;

    &.theme-cell {
      width: 200px;
      padding-left: 10px;
      background: rgba(0, 0, 0, 0.01);

      &.create-tube {
        position: relative;
        text-align: center;

        a {
          display: block;
          margin-bottom: 30px;
        }

        .tube-management {
          position: absolute;
          bottom: 5px;
          display: flex;
          width: calc(100% - 15px);
          border: none;
        }
      }
    }


    &.tube-cell {
      width: 160px;
      padding-left: 10px;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.03);
      border-left: 1px solid rgba(34, 36, 38, 0.15);

    }

    &.empty-row {
      background: rgba(0, 0, 0, 0.03);
    }

    &.skill-cell {
      text-align: center;

      .skill-cell__link {
        color: black;
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
        }
      }

      &.production {
        &.warning {
          background: #fdc59f !important;
        }

        &.danger {
          background: #FF5E5E !important;
        }
      }

      &.production,
      &.workbench {
        background-color: $challenge-background-color !important;

        &.active {
          position: relative;
          color: red !important;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(146, 146, 55, 0.3);
            content: '';
          }
        }

        .workbench__status {
          display: flex;
          justify-content: center;
          margin-top: 2px;

          span {
            &.draft-prototype {
              background: $suggested-background-color;
            }

            &.validated-prototype {
              background: $production-background-color;
            }

            &.archived-prototype {
              color: var(--pix-neutral-0);
              background: $archived-background-color;
            }

            &.obsolete-prototype {
              color: var(--pix-neutral-0);
              background: $deleted-background-color;
            }

            &.not-declinable {
              color: black;
              background: var(--pix-neutral-0);
            }

            &.loading {
              height: 25px;
            }
          }
        }
      }

      &.skill-mode {
        &.warning {
          background: #b5b3ff !important;
        }

        &.danger {
          background: #c496ff !important;
        }
      }

      &.skill-mode,
      &.skill-workbench {
        background-color: $skill-background-color !important;

        &.active {
          position: relative;
          color: red !important;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(124, 144, 167, 0.3);
            content: '';
          }
        }

        .idea.icon {
          text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);

          &.validated,
          &.prevalidated {
            color: $validated-background-color;
          }

          &.to-be-submitted {
            color: $to-be-submitted-background-color;
          }

          &.need-work {
            color: $need-work-background-color;
          }

          &.suggested {
            color: $suggested-background-color;
          }

          &.archived {
            color: $archived-background-color;
            text-shadow: none;
          }

          &.na {
            color: $na-color;
            text-shadow: none;
          }

          &.empty {
            color: $deleted-background-color;
          }
        }

        .tuto-count {
          font-size: 12px;
        }

        .skill-workbench__status {
          display: flex;
          justify-content: center;
          margin-top: 2px;

          .workbench-status {
            &.active-skill {
              background: $production-background-color;
            }

            &.draft-skill {
              background: $suggested-background-color;
            }

            &.archive-skill {
              color: var(--pix-neutral-0);
              background: $archived-background-color;
            }

            &.obsolete-skill {
              color: var(--pix-neutral-0);
              background: $deleted-background-color;
            }
          }
        }
      }


      &.i18n {
        height: 45px;
        background-color: #6223b6;

        &.active {
          background-color: #8e2dff !important;
        }

        .skill-i18n-name {
          color: var(--pix-neutral-0);
        }

        .flags {
          margin: 5px;
          background: rgba(255, 255, 255, .7);

          > i.flag {
            box-shadow: grey 0 0 2px;
          }
        }
      }

      &.quality-skill-cell {
        padding: 0;

        .quality {
          height: 100%;
          padding: 5px;
          cursor: pointer;

          &.bad-quality {
            color: var(--pix-neutral-0);
            background: #EA2700;
          }

          &.medium-quality {
            background: #F3AC0B;
          }

          &.good-quality {
            background: #0DC600;
          }

          &.loading {
            background-color: #aaaaaa;
          }

          .half-tutorial {
            color: #aaaaaa
          }
        }

        &.active {
          .quality {
            box-shadow: var(--pix-shadow) 0 0 7px;
            opacity: .8;
          }

        }
      }
    }


    .add-skill {
      display: block;
      width: 100%;
      text-align: center;

      &:not(:hover) i {
        visibility: hidden;
      }

      &:hover i {
        visibility: visible;
      }
    }


    .quality-indication {
      display: flex;
      justify-content: space-between;

      span:nth-child(2) {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}

.prototype-list,
.alternative-list {
  height: 100%;
}

.quality-indication-details {
  tr {
    &:nth-child(even) {
      color: var(--pix-neutral-0);
      background: #FFA300;
    }

    &:nth-child(odd) {
      background: #FFCE4D;
    }

    td {
      padding: 5px;
      color: inherit !important;
      background: transparent !important;

      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}

.language-filter-info {
  max-width: 400px;

  .table {
    width: 330px;

    &.skillSection {
      .color {
        width: 80px;

        &.warning {
          background: #b5b3ff !important;
        }

        &.danger {
          background: #c496ff;
        }
      }
    }

    &.challengeSection {
      width: 380px;

      .color {
        width: 80px;

        &.warning {
          background: #fdc59f !important;
        }

        &.danger {
          background: #FF5E5E;
        }
      }
    }
  }
}

.quality-tooltip {
  max-width: 350px;
}

.flag.fr-fr {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 3px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    font-style: normal;
    content: ".fr";
  }
}

.ui.icon.menu .item > .icon:not(.dropdown) {
  margin-right: .5em;
}
