.custom-tooltip {
  z-index: 10;
  padding: 10px;
  color: var(--pix-shadow);
  line-height: 1.4em;
  text-align: left;
  text-shadow: none;
  background-color: var(--pix-neutral-0);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);

  &.large {
    width: 75vw;
    min-width: 150px;
    max-width: 1050px;
  }

  .ember-tooltip-arrow {
    display: none;
  }

  .custom-arrow {
    z-index: -1;
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--pix-neutral-0);
    border: none;
    transform: rotate(45deg);
  }
}
