.ember-tabs {
  .ember-tabs__tab-list {
    position: relative;
    top: 1px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: .5em 1em;
      cursor: pointer;

      &.ember-tabs__tab--selected {
        border: 1px solid rgb(212, 212, 213);
        border-bottom-color: var(--pix-neutral-0);
        border-radius: 5px 5px 0 0;
      }
    }
  }

}
