.custom-tooltip {
  background-color: white;
  color: black;
  text-align: left;
  text-shadow: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  line-height: 1.4em;

  &.large {
    width: 75vw;
    max-width: 1050px;
    min-width: 150px;
  }

  .ember-tooltip-arrow {
    display: none;
  }

  .custom-arrow {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
    z-index: -1;
    border: none;
  }
}
