.list-log {
  .create-log {
    td:first-child {
      border-left: var(--pix-content-light) solid 5px;
    }
  }

  .delete-log {
    td:first-child {
      border-left: var(--pix-error-500) solid 5px;
    }
  }

  .archive-log {
    td:first-child {
      border-left: var(--pix-warning-500) solid 5px;
    }
  }

  .modify-log {
    td:first-child {
      border-left: var(--pix-info-500) solid 5px;
    }
  }

  .move-log {
    td:first-child {
      border-left: var(--pix-primary-300) solid 5px;
    }
  }

}
