// stylelint-disable color-no-hex, color-named
$challenge-background-color: #fcfd9f;
$skill-background-color: #d5e8fd;
$production-background-color: #0f0;
$production-color: #000;
$draft-color: #000;
$validated-background-color: #0f0/*#08cf08*/;
$validated-color: #000;
$validated-no-test-background-color: #0f0;
$validated-no-test-color: #000;
$prevalidated-background-color: #0f0/*#aaFFaa*/;
$prevalidated-color: #000;
$suggested-background-color: #9ceaf7;
$suggested-color: #0a1b53;
$archived-background-color: #6b686d;
$archived-color: #fff;
$deleted-background-color: #c13b3b;
$deleted-color: #1f0101;
$to-be-submitted-background-color: #ffc851;
$to-be-submitted-color: #000;
$need-work-background-color: #ff51e8;
$need-work-color: #000;
$na-background-color: #eceaea;
$na-color: #3e7726;
$production-alternative-color: #085508;/* #0000ff; */
$draft-alternative-color: #1083ce;
$alternative-count-color: #c48807;

body, html, body > div.ember-view, .application, .pusher, .main, .main-menu, .pusher > .column {
  min-height: 100vh;
}

h1, h2, h3, h4 {
  // TODO: remplacer par `@extend %pix-title-${size}` (un jour, potentiellement quand la V2 sera partout)
  // stylelint-disable-next-line custom-property-pattern
  font-family: var(--_pix-font-family-title), Arial, sans-serif;
}

a, p, span, li {
  // TODO: remplacer par `@extend %pix-body-${size}` (un jour, potentiellement quand la V2 sera partout)
  // stylelint-disable-next-line custom-property-pattern
  font-family: var(--_pix-font-family-body), Arial, sans-serif;
}

.monaco-editor {
  a, p, span, li {
    font-family: revert;
  }
}

.waiting {
  height: 100%;
}

.application {
  background-color: #fff;

  .pusher {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
  }

}

.hidden {
  display: none !important;
}

.no-visibility {
  visibility: hidden;
}

.CodeMirror {
  height: 100px;
  min-height: 100px;
}

.CodeMirror-scroll {
  min-height: auto;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 0;
}

.main, .v2-main {
  .ui.message {
    z-index: 3;
  }

  .main-left,
  .main-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    border-left: 10px solid #dfe1e4;

    &__loader {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }

}

.main-title {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  background-color: #3498db;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  &.lite,
  &--lite {
    background-color: #7C0E6A;
  }

  &__heading {
    margin: 0;
    padding: 6px 0;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
  }

  h1.ui.header {
    margin: 0;
    padding: 6px 0;
    color: #FFF;
    font-weight: normal;
    font-size: 20px;

    .ui.right.floated.menu {
      min-height: 0;
      background: transparent;
      border: none;
      box-shadow: none;

      .ui.button {
        padding-top: 7px;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;

        i {
          color: #fff;
        }
      }
    }
  }

  .ui.selection.dropdown {
    width: 150px;
    min-width: 0;
    height: auto;
    min-height: 0;
    margin: 2px 0;
    padding: 8px 40px 8px 8px;
  }

}


.ui.inverted.menu {
  background-color: #3498db;

  &.lite {
    background-color: #7C0E6A;
  }

  &.main-menu {
    margin-bottom: 0;
  }

  .item {
    color: #fff;
  }
}

.ui.disabled.dropdown {
  opacity: 1;

  i.icon {
    display: none;
  }
}

.elephant {
  width: 100%;
  height: 100%;
  margin-left: 150px;
  background: url("/assets/images/elephant_main.png") center center no-repeat;
  background-size: contain;
}

.ui.button {
  color: #000;
  font-weight: normal;
  background-color: transparent;

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.ui.page.dimmer.inverted.active {
  z-index: 10000;
}

.rotate-90 {
  transform: rotate(90deg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip-path: inset(50%);
}
