$challenge-background-color: #fcfd9f;
$skill-background-color: #d5e8fd;
$production-background-color: #00ff00;
$production-color: var(--pix-shadow);
$draft-color: var(--pix-shadow);
$validated-background-color: #00ff00/*#08cf08*/;
$validated-color: var(--pix-shadow);
$validated-no-test-background-color: #00ff00;
$validated-no-test-color: var(--pix-shadow);
$prevalidated-background-color: #00ff00/*#aaFFaa*/;
$prevalidated-color: var(--pix-shadow);
$suggested-background-color: #9ceaf7;
$suggested-color: #0a1b53;
$archived-background-color: #6b686d;
$archived-color: var(--pix-neutral-0);
$deleted-background-color: #c13b3b;
$deleted-color: #1f0101;
$to-be-submitted-background-color: #ffc851;
$to-be-submitted-color: var(--pix-shadow);
$need-work-background-color: #ff51e8;
$need-work-color: var(--pix-shadow);
$na-background-color: #eceaea;
$na-color: #3e7726;
$production-alternative-color: #085508;/* #0000ff; */
$draft-alternative-color: #1083ce;
$alternative-count-color: #c48807;

body, html, body > div.ember-view, .application, .pusher, .main, .main-menu, .pusher > .column {
  min-height: 100vh;
}

.waiting {
  height: 100%;
}

.application {
  background-color: var(--pix-neutral-0);

  .pusher {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
  }

}

.ui.menu.main-menu {
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0;

  .ui.icon.button {
    color: var(--pix-neutral-0);
  }

}

.hidden {
  display: none !important;
}

.no-visibility {
  visibility: hidden;
}

.CodeMirror {
  height: 100px;
  min-height: 100px;
}

.CodeMirror-scroll {
  min-height: auto;
}

.main {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 0;

  .messages {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .ui.message {
    z-index: 3;
  }

  .ui[class*="top attached"].menu {
    margin: 0;
    border-radius: 0;

    &.tabular {
      padding-left: 5px;
      border-bottom-width: 0;

      .item {
        margin-top: 0.4em;
        padding-top: 0.528571em;
        color: #777777;
        cursor: pointer;

        &.active {
          background-color: #F9FAFB;

          &.production,
          &.workbench {
            color: #dbbd17;
          }
        }
      }
    }
  }

  .menu.skill-mode .ui[class*="top attached"].menu.tabular .item.active {
    &.production,
    &.workbench {
      color: #444488;

    }
  }

  .ui[class*="bottom attached"].menu {
    margin: 0;
    border-radius: 0;
  }

  .ui.attached {

    &.menu:not(.tabular) {
      background-color: #F9FAFB;
      border: none;
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    }

    .ui.button.item.left.first {
      margin-right: 0 !important;
    }

    + .ui.attached.menu:not(.top) {
      display: flex;
      border-top: 1px solid rgba(34, 36, 38, 0.15);

      .item.competence-info {
        flex: 1;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    &.segment {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  .main-left,
  .main-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 0;
    overflow: hidden;
    border-left: 10px solid #dfe1e4;
  }

}

.main-title {
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #3498db;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  &.lite {
    background-color: #7C0E6A;
  }

  h1.ui.header {
    margin: 0;
    padding: 6px 0;
    color: var(--pix-neutral-0);
    font-weight: normal;
    font-size: 20px;

    .ui.right.floated.menu {
      min-height: 0;
      background: transparent;
      border: none;
      box-shadow: none;

      .ui.button {
        padding-top: 7px;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;

        i {
          color: var(--pix-neutral-0);
        }
      }
    }
  }

  .ui.selection.dropdown {
    width: 150px;
    min-width: 0;
    height: auto;
    min-height: 0;
    margin: 2px 0;
    padding: 8px 40px 8px 8px;
  }

}


.ui.inverted.menu {
  background-color: #3498db;

  &.lite {
    background-color: #7C0E6A;
  }

  &.main-menu {
    margin-bottom: 0;
  }

  .item {
    color: var(--pix-neutral-0);
  }
}

.ui.disabled.dropdown {
  opacity: 1;

  i.icon {
    display: none;
  }
}

.elephant {
  width: 100%;
  height: 100%;
  background: url("/assets/images/elephant_main.png") center center no-repeat;
  background-size: contain;
}

footer.ui.attached.header {
  color: var(--pix-neutral-0);
  background: rgb(52, 152, 219) !important;

  p {
    position: relative;
    left: -198px;
  }
}

.ui.button {
  color: var(--pix-shadow);
  font-weight: normal;
  background-color: transparent;

  &:hover, &:focus {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.ui.page.dimmer.inverted.active {
  z-index: 10000;
}

.rotate-90 {
  transform: rotate(90deg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0,0,0,0);
}

