.i18n-header {
  @extend .challenge-header;

  background-color: #684AB6 !important;
  color: #ffffff !important;

  .ui.button {
    color: #ffffff !important;
  }
}

.i18n.single {
  .instruction-preview  {
    >*{
      margin:0;
      padding:0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    :not(*:first-child){
      display: none;
    }
  }

  .language{
    margin-right:.8em;
  }
}
