.i18n-header {
  @extend .challenge-header;

  color: var(--pix-neutral-0) !important;
  background-color: var(--pix-primary-500) !important;

  .ui.button {
    color: var(--pix-neutral-0) !important;
  }
}

.i18n.single {
  .et-cell-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .language {
    margin-right: .8em;
  }
}
