.lateral-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 0;
    padding: 4px;
    overflow-y: auto;
    border: none;
    border-left: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: none;

  &__item {
    display: flex;
    justify-content: flex-start;
    padding: 0.85em 1.14em;
    color: var(--pix-neutral-900);
    font-weight: normal;
    font-size: 1em;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.03);
    }

    svg {
      margin-right: 10px;
      font-size: 1.2em;
    }
  }
}
