.skill-tab {
  &__status {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .5em;
    border-radius: 50%;

    &.validated {
      background: $production-background-color;
    }

    &.suggested {
      background: $suggested-background-color;
    }

    &.archived {
      background: $archived-background-color;
    }

    &.deleted {
      background: $deleted-background-color;
    }
  }
}

.ember-table {
  height: 100%;

  table {
    th {
      padding: 10px;
      text-align: left;
      background-color: #F9FAFB;
      border-bottom: 1px solid rgba(34, 36, 38, .1);
      border-left: 1px solid rgba(34, 36, 38, .1);

      .et-sort-indicator {

        &::before {
          display: inline-block;
          color: #b9b9b9;
          font-family: Icons;
          line-height: 1;
          border: none;
          content: '\f0d7';
        }

        &.is-ascending::before {
          content: '\f0d8';
        }
      }
    }

    td {
      padding: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(34, 36, 38, .1);
      border-left: 1px solid rgba(34, 36, 38, .1);
      cursor: pointer;

      &.suggested {
        color: $suggested-color;
        background-color: $suggested-background-color !important;
      }

      &.validated {
        color: $validated-color;
        background-color: $validated-background-color !important;
      }

      &.archived {
        color: $archived-color;
        background-color: $archived-background-color !important;
      }

      &.deleted {
        color: $deleted-color;
        background-color: $deleted-background-color !important;
      }
    }

    tr.is-selected td {
      background-color: var(--pix-warning-100);
    }
  }
}
