@use "global";

.ember-table {
  height: 100%;

  table {
    th {
      padding: 10px;
      text-align: left;
      background-color: var(--pix-neutral-20);
      border-bottom: 1px solid rgba(34, 36, 38, 0.1);
      border-left: 1px solid rgba(34, 36, 38, 0.1);

      .et-sort-indicator {

        &::before {
          display: inline-block;
          color: var(--pix-neutral-300);
          font-family: Icons;
          line-height: 1;
          border: none;
          content: '\f0d7';
        }

        &.is-ascending::before {
          content: '\f0d8';
        }
      }
    }

    td {
      padding: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: 1px solid rgba(34, 36, 38, 0.1);
      border-left: 1px solid rgba(34, 36, 38, 0.1);
      cursor: pointer;

      &.suggested {
        color: global.$suggested-color;
        background-color: global.$suggested-background-color !important;
      }

      &.validated {
        color: global.$validated-color;
        background-color: global.$validated-background-color !important;
      }

      &.archived {
        color: global.$archived-color;
        background-color: global.$archived-background-color !important;
      }

      &.deleted {
        color: global.$deleted-color;
        background-color: global.$deleted-background-color !important;
      }
    }

    tr.is-selected td {
      background-color: var(--pix-secondary-100);
    }
  }
}
