.ui.form .field.mde > label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    display: flex;
    align-items: center;

    > * {
      margin: 0;
    }
  }
}
