@use 'pix-design-tokens/breakpoints';

.pix-modal {
  &__footer {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
    margin-bottom: var(--pix-spacing-4x);

    @include breakpoints.device-is('tablet') {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }
}

.threshold-grid {
  display: flex;
  justify-content: center;
}

.threshold-table {
  border-collapse: collapse;

  th,
  td {
    padding: 0.5em 0.7em;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
}
