.image-modal {
  width: 100%;
  height: auto;
}

.pix-modal {
  &__footer {
    display: flex;
    flex-direction: column;
    gap: $pix-spacing-s;
    margin-bottom: $pix-spacing-s;

    @include device-is('tablet') {
      flex-flow: row wrap;
      justify-content: flex-end;
    }
  }

  &__overlay {
    z-index: 100;
  }
}
