.main-sidebar {

  &.ui.sidebar {
    z-index: 99;
    transition: transform 0.5s, visibility 0.5s;
  }

  h1.header {
    height: 50px;
    margin: 0;
    padding: 15px 5px;
    color: var(--pix-neutral-0);
    font-size: 25px;
  }

  .legal-mention {
    margin: 0;
    padding: 0 5px 7px;
    color: var(--pix-secondary-orga);
  }

  .sidebar-search {
    .ember-basic-dropdown-trigger {
      margin: 0 5px;
      color: rgba(255, 255, 255, 0.9);
      background: transparent;
      border-color: rgba(255, 255, 255, 0.9);

      .ember-power-select-placeholder {
        color: rgba(255, 255, 255, 0.9);
      }

      .custom-trigger {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
      right: 5px;
      left: 5px;
      width: auto;
    }

    .ember-power-select-option {
      display: flex;
      align-items: center;

      .skill-result-status {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: .5em;
        border-radius: 50%;

        &.validated {
          background: $production-background-color;
        }

        &.suggested {
          background: $suggested-background-color;
        }

        &.archived {
          background: $archived-background-color;
        }

        &.deleted {
          background: $deleted-background-color;
        }
      }
    }
  }

  #select-framework {

    .ember-power-select-status-icon {
      border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
    }

    .ember-power-select-trigger {
      margin: 10px 5px;
      color: rgba(255, 255, 255, 0.9);
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid rgba(255, 255, 255, 0.9);
      border-left: 1px solid rgba(255, 255, 255, 0.9);
      cursor: pointer;
    }
  }

  .a11y-accordion-list {
    font-size: .9rem;


    .a11y-accordion {
      &-header {
        &__trigger {
          padding: .5rem 0;
          color: var(--pix-neutral-0);
          cursor: pointer;

          &:hover {
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }

    .a11y-accordion-panel-content {
      background: rgba(0, 0, 0, 0.08);

      .item {
        padding: .8rem;

        &:hover, &.active, &.active:hover {
          background: rgba(0, 0, 0, 0.08) !important;
        }
      }
    }
  }

  .ui.menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .ui.vertical.inverted.menu {

    .menu .item {
      align-items: initial;
      padding: 10px;
      color: var(--pix-neutral-0);
    }

    .menu .item i.icon {
      float: none;
      margin-right: 5px;
      font-size: 12px;
    }
  }

  .ui.search {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 0 5px;

    .prompt {
      border-radius: 0;
    }

    .ui.input {
      width: 100%;

      input {
        padding: 4px;
        color: rgba(255, 255, 255, 0.8);
        background-color: transparent;
        border-color: rgba(255, 255, 255, 0.7);

        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      i.icon {
        color: var(--pix-neutral-0);
      }
    }

    &.loading {
      .input > i.icon::after {
        border-color: var(--pix-neutral-0) transparent transparent;
      }
    }

    .results .message .header {
      display: none;
    }
  }

  .secondary-links {
    margin-top: 40px;
    border-top: solid 1px rgba(255, 255, 255, 0.08);

    i, a, p {
      color: rgba(255, 255, 255, 0.9);
    }

    a, p {
      display: block;
      margin-bottom: 0;
      padding: 13px 5px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
        cursor: pointer;
      }

      svg {
        width: 20px;
      }
    }
  }
}
