@use "global";
@use 'pix-design-tokens/typography';

// stylelint-disable color-no-hex, color-named
.main-sidebar {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-4x);
  width: 350px;
  height: 100%;
  padding: 24px 16px;
  overflow: hidden auto;
  background-color: var(--pix-environment-dark);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s, visibility 0.5s;

  &--visible {
    transform: translate3d(0, 0, 0);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }

  &__logout {
    padding: 5px;
    border: none;
    cursor: pointer;
  }

  &__secondary-links {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-3x);
    width: 100%;
    padding-bottom: var(--pix-spacing-6x);
    border-bottom: 1px solid var(--pix-security-light);
  }
}

.main-sidebar-header {
  &__title {
    @extend %pix-title-s;

    color: var(--pix-neutral-0);
  }

  &__reduce-button {
    color: var(--pix-neutral-0);

    &:hover, &:active {
      color: var(--pix-environment-dark);
    }

    &:not([aria-disabled="true"]) {
      &:focus:enabled , &:focus {
        color: var(--pix-environment-dark);
        background-color: var(--pix-neutral-0);
      }
    }
  }
}

.main-sidebar-secondary-links {
  &--action {
    @extend %pix-body-s;

    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    width: 100%;
    padding: var(--pix-spacing-1x) 0 var(--pix-spacing-1x) var(--pix-spacing-2x);
    color: var(--pix-neutral-0);
    cursor: pointer;

    &:hover, &:active {
      color: var(--pix-neutral-0);
      background-color: rgba(var(--pix-neutral-100-inline), 50%);
      border-radius: var(--pix-spacing-2x);
    }
  }
}

.main-sidebar-footer {
  &__version {
    @extend %pix-body-xs;

    color: var(--pix-neutral-0);
  }
}

