// stylelint-disable color-no-hex, color-named
.main-title {
  .skill-mode {
    float: right;
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 14px;

    &.active {
      color: #fff;
    }

    .checkbox {
      margin-left: 10px;
    }
  }
}

#container-select-description-status,
#select-i18n-option,
#container-select-clue-status {
  width: 100%;
  margin-bottom: 1rem;
}
