.main-title {
  .skill-mode {
    float: right;
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 14px;

    &.active {
      color: var(--pix-neutral-0);
    }

    .checkbox {
      margin-left: 10px;
    }
  }
}

.skill-header {
  @extend .challenge-header;

  &.validated,
  &.suggested,
  &.archived,
  &.deleted {
    color: var(--pix-neutral-800) !important;
    background: $skill-background-color !important;
  }

  .circular {
    &.validated {
      color: var(--pix-neutral-800) !important;
      background: $validated-background-color !important;
    }

    &.suggested {
      color: var(--pix-neutral-800) !important;
      background: $suggested-background-color !important;
    }

    &.archived {
      background: $archived-background-color !important;
    }

    &.deleted {
      background: $deleted-background-color !important;
    }

  }

  .ui.button {
    color: black !important;
  }

  .ember-basic-dropdown-content .ui.button {
    margin: 0;
    color: var(--pix-shadow) !important;
  }

}

.skill-data {
  @extend .challenge-data;
}

.ui.menu.skill-menu {
  @extend %challenge-menu;
}

.skill-details {
  @extend .challenge;

}

.search-result {
  border-radius: 5px;

  li {
    padding: .8em 1.14em;
    border-bottom: solid 1px rgba(34, 36, 38, .1);

    &.ember-power-select-option[aria-current="true"] .search-description {
      color: lightgrey;
    }

    .search-title {
      font-weight: bold;
    }

    .search-description {
      color: grey;
    }
  }
}

.serch-tuto-more, .search-tuto-solution {
  .results {
    max-height: 350px;
    overflow-y: scroll;
  }
}

.popin-create-tuto {
  .btn-selected-tag {
    margin-bottom: 5px;
  }

  .crush {
    color: red;

    &:hover {
      color: red;
    }
  }

}
