.main-title {
  .target-profile-filter {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);

    &.active {
      color: rgba(255, 255, 255, .9);
    }

    .ui.toggle.checkbox {
      margin-left: 10px;
    }
  }
}

.target-profile-title {
  background: black;
  color: white;

  .trigger-menu {
    cursor: pointer;
  }

  .ember-power-select-trigger {
    font-size: 14px;
    padding: 0.1em 16px 0.1em 0.3em;
  }

  .ember-power-select-multiple-option {
    background-color: #ffffff;
  }
}

.target-profile {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  #target-profile__open-file {
    display: none;
  }

  .ui.grid {
    margin: 0;
  }

  .competence-profile {
    color: white;
    margin-bottom: 0;
    background-color: #000044;

    &.area-profile-1 {
      background: #F1A141;
    }

    &.area-profile-2 {
      background: #57C884;
    }

    &.area-profile-3 {
      background: #12A3FF;
    }

    &.area-profile-4 {
      background: #FF3F94;
    }

    &.area-profile-5 {
      background: #574DA6;
    }

    .competence-info {
      .ui.basic.button {
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.6);
        box-shadow: none;

        i {
          color: white;
        }

        &:hover {
          i {
            color: black;
          }
        }
      }


    }


  }

  .theme-profile {
    padding: 0 !important;
    background: #F3F3F3;

    &:not(:nth-last-child(2)) {
      border-bottom: #d4d4d4 solid 1px;
    }

    .theme-name {
      display: flex !important;
      align-items: center;
      font-weight: bold;
      font-size: 1.1em;

    }

    .twelve.wide.column {
      padding: 0;
    }

    .tube-profile {
      display: flex;

      &:hover {
        cursor: pointer;
        background: rgba(50, 170, 220, .1);
      }

      & > div {
        display: flex;
        align-items: center;
        width: 35%;


        .icon {
          position: relative;
          margin: 0 10px;
          font-size: 1.8rem !important;
          transform: translateY(0.2rem);

          &.active {
            color: #57C884
          }

        }

        .max-skill-level {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 30px;
          margin-right: 10px
        }

        p {
          font-weight: bold;
          padding: 10px 5px;
        }

        .practicalTitle-profile {
          display: flex;
          height: 100%;
          width: 100%;
          align-items: center;

          &.active {
            background-color: rgba(87, 200, 130, .3);
          }

          &__color-red {
            color: #7f0101;
          }
        }
      }

      .practicalDescription-profile {
        width: 65%;
        padding: 10px 50px 10px 5px;

        &.active {
          background-color: rgba(87, 200, 130, .3);
        }
      }

      &.thematicResult {
        .icon.active {
          color: #3f7bc4;
        }

        .practicalTitle-profile {

          &.active {
            background-color: rgba(63, 123, 196, .3);
          }
        }

        .practicalDescription-profile {
          &.active {
            background-color: rgba(63, 123, 196, .3);
          }
        }
      }
    }
  }
}

.popin-tube-level {
  .levels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 1px;

    &.loading {
      border-width: 0;
    }

    .level {
      cursor: pointer;
      flex: 0 1 12.5%;
      text-align: center;
      padding: 20px;
      border-color: #000000;
      border-width: 0 1px 1px 0;
      border-style: solid;
      font-size: 16px;

      &.selected {
        background-color: rgba(87, 200, 130, 0.5);
      }

      &.disabled {
        background-color: #dddddd;
        cursor: default;
      }
    }
  }

  &.thematicResult {
    .levels {
      .level {
        &.selected {
          background-color: rgba(63, 123, 196, .3);
        }
      }
    }
  }
}
