.main-title {
  .target-profile-filter {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 2px;
    color: rgba(255, 255, 255, .5);
    font-weight: normal;
    font-size: 14px;

    &.active {
      color: rgba(255, 255, 255, .9);
    }

    .ui.toggle.checkbox {
      margin-left: 10px;
    }
  }
}

.target-profile-title {
  color: var(--pix-neutral-0);
  background: black;

  .trigger-menu {
    cursor: pointer;
  }

  .ember-power-select-trigger {
    padding: 0.1em 16px 0.1em 0.3em;
    font-size: 14px;
  }

  .ember-power-select-multiple-option {
    background-color: var(--pix-neutral-0);
  }
}

.target-profile {
  width: 100%;
  overflow: hidden scroll;

  #target-profile__open-file {
    display: none;
  }

  .ui.grid {
    margin: 0;
  }

  .competence-profile {
    margin-bottom: 0;
    color: var(--pix-neutral-0);
    background-color: #000044;

    &.area-profile-1 {
      background: #F1A141;
    }

    &.area-profile-2 {
      background: var(--pix-content-light);
    }

    &.area-profile-3 {
      background: var(--pix-communication-light);
    }

    &.area-profile-4 {
      background: var(--pix-security-light);
    }

    &.area-profile-5 {
      background: var(--pix-environment-light);
    }

    .competence-info {
      .ui.basic.button {
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        box-shadow: none;

        i {
          color: var(--pix-neutral-0);
        }

        &:hover {
          i {
            color: black;
          }
        }
      }


    }


  }

  .theme-profile {
    padding: 0 !important;
    background: var(--pix-error-50);

    &:not(:nth-last-child(2)) {
      border-bottom: var(--pix-neutral-20) solid 1px;
    }

    .theme-name {
      display: flex !important;
      align-items: center;
      font-weight: bold;
      font-size: 1.1em;

    }

    .twelve.wide.column {
      padding: 0;
    }

    .tube-profile {
      display: flex;

      &:hover {
        background: rgba(50, 170, 220, .1);
        cursor: pointer;
      }

      & > div {
        display: flex;
        align-items: center;
        width: 35%;


        .icon {
          position: relative;
          margin: 0 10px;
          font-size: 1.8rem !important;
          transform: translateY(0.2rem);

          &.active {
            color: var(--pix-content-light)
          }

        }

        .max-skill-level {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 100%;
          margin-right: 10px
        }

        p {
          padding: 10px 5px;
          font-weight: bold;
        }

        .practicalTitle-profile {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          &.active {
            background-color: rgba(87, 200, 130, .3);
          }

          &__color-red {
            color: var(--pix-error-90);
          }
        }
      }

      .practicalDescription-profile {
        width: 65%;
        padding: 10px 50px 10px 5px;

        &.active {
          background-color: rgba(87, 200, 130, .3);
        }
      }

      &.thematicResult {
        .icon.active {
          color: var(--pix-orga-500);
        }

        .practicalTitle-profile {

          &.active {
            background-color: rgba(63, 123, 196, .3);
          }
        }

        .practicalDescription-profile {
          &.active {
            background-color: rgba(63, 123, 196, .3);
          }
        }
      }
    }
  }
}

.popin-tube-level {
  .levels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    border-color: var(--pix-shadow);
    border-style: solid;
    border-width: 1px 0 0 1px;

    &.loading {
      border-width: 0;
    }

    .level {
      flex: 0 1 12.5%;
      padding: 20px;
      font-size: 16px;
      text-align: center;
      border-color: var(--pix-shadow);
      border-style: solid;
      border-width: 0 1px 1px 0;
      cursor: pointer;

      &.selected {
        background-color: rgba(87, 200, 130, 0.5);
      }

      &.disabled {
        background-color: var(--pix-neutral-20);
        cursor: default;
      }
    }
  }

  &.thematicResult {
    .levels {
      .level {
        &.selected {
          background-color: rgba(63, 123, 196, .3);
        }
      }
    }
  }
}
