.tube-header {
  @extend .challenge-header;

  &.suggested,
  &.prevalidated,
  &.validated_no_test,
  &.validated,
  &.archived,
  &.need-work,
  &.to-be-submitted {
    background-color: #444488 !important;
  }
}

.tube-data {
  @extend .challenge-data;
}

.ui.menu.tube-menu {
  @extend %challenge-menu;
}

.tube-details {
  @extend .challenge;
}
