@use 'authenticated-v2';
@use 'components/challenges-production';
@use 'components/challenges-production-header';
@use 'components/challenge-view';
@use 'components/challenge-view-header';
@charset "utf-8";
@use 'pix-design-tokens';
@use 'global';
@use 'sidebar';
@use 'competence';
@use 'competence-management';
@use 'area-management';
@use 'target-profile';
@use 'challenges';
@use 'skill';
@use 'tube';
@use 'challenge-log';
@use 'confirm-log';
@use 'custom-accordion';
@use 'custom-tooltip';
@use 'custom-sortable-group';
@use 'custom-tabs';
@use 'lists';
@use 'statistics';
@use 'events-log';
@use 'mde';
@use 'popin';
@use 'pages/login';
@use 'shadows';
@use 'authenticated';
@use 'authenticated/missions/new' as missions-new;
@use 'authenticated/missions/details' as missions-details;
@use 'authenticated/static-courses/list' as static-courses-list;
@use 'authenticated/static-courses/static-course' as static-course-static-course;
@use 'authenticated/whitelisted-urls/list' as whitelisted-urls-list;
@use 'authenticated/whitelisted-urls/new' as whitelisted-urls-new;
@use 'authenticated/synchronize-translations';
@use 'components/card';
@use 'components/competence-header';
@use 'components/competence-overview';
@use 'components/competence-overview-skill';
@use 'components/login-form';
@use 'components/field';
@use 'components/field/quality';
@use 'components/field/tutorials';
@use 'components/dropdown-menu';
@use 'globals/global' as globals-global;
@use 'globals/notification';
@use 'globals/page';
@use 'globals/table';

// ember-power-select
@use 'custom-select';
@use 'ember-power-select' with (
  // stylelint-disable color-no-hex, color-named
  $ember-power-select-border-color: rgba(34, 36, 38, 0.15),
  $ember-power-select-trigger-ltr-padding: .3em 16px .3em .3em,
  $ember-power-select-dropdown-box-shadow: 0 4px 10px rgba(34, 36, 38, 0.4),
  $ember-power-select-disabled-background-color: #f9f9f9
);

// basic-dropdown
@use 'custom-basic-dropdown';
@use 'ember-basic-dropdown';
