.static-course-details__card-information {
  &--actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 16px;
  }

  li {
    margin-top: 8px;
  }
}

.static-course-details__description {
  white-space: pre-line;
}

.static-course-tag__area {
  display: flex;
  align-items: end;
}

.static-course-chips {
  margin-left: 1rem;
}
