.page {
  .page-header {
    background: $pix-neutral-0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    border-bottom: 1px solid $pix-neutral-20;
    top: 0;
    left: 80px;
    right: 0;
    min-height: 60px;
    z-index: 4;
    margin: 0;

    .page-title {
      font-weight: 500;
      font-size: 1rem;

      a {
        color: $pix-primary;
      }

      h1 {
        display: inline;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  .page-body {
    inset: 60px 0 0 80px;
    padding: 10px;

    .page-section {
      background: $pix-neutral-0;
      border-radius: 5px;
      padding: 32px;
      margin-bottom: 10px;

      &__header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      &__title {
        font-size: 1.2rem;
        font-weight: 600;

        &--sub {
          margin-bottom: $pix-spacing-s;
        }
      }

      &__content {
        margin-bottom: 10px;
      }
    }
  }

  .page-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.panel-table-v2 {
  border-radius: 4px;
  border: none;
  box-shadow: $shadow-base;
  background-color: $pix-neutral-0;
  overflow: auto;

  table {
    height: 100%;
    position: relative;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    box-sizing: border-box;
  }

  thead {
    width: 100%;
    color: $pix-neutral-100;

    th {
      font-family: $font-roboto;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  tbody {
    color: $pix-neutral-60;

    tr {
      &:focus-within,
      &:hover {
        background-color: $pix-neutral-15;
      }
    }

    tr.tr--clickable {
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        color: $pix-neutral-100;
        background-color: $pix-neutral-10;
        transition: 0.25s ease;
      }
    }

    .row--not-clickable {
      cursor: auto;
      background-color: white;
    }

    th.th--clickable {
      background-color: white;

      &:hover {
        background-color: $pix-neutral-15;
      }
    }

    td {
      font-family: $font-roboto;
      font-size: 0.875rem;
      font-weight: 400;
      color: $pix-neutral-80;
      position: relative;

      &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > a {
        color: $pix-neutral-80;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          color: $pix-neutral-80;
        }
      }
    }
  }

  tr {
    width: 100%;
    height: 60px;
    border-top: 1px solid $pix-neutral-15;
  }

  td,
  th {
    text-align: left;
    padding-left: 24px;
  }

  th::first-letter {
    text-transform: capitalize;
  }

  .table__column {
    width: 16%;

    col {
      min-width: 100px;
    }

    &--tiny {
      width: 4%;
      max-width: 100px;
    }

    &--small {
      width: 6%;
      max-width: 150px;
    }

    &--wide {
      width: 25%;
    }

    &--highlight {
      color: $pix-neutral-80;
    }
  }
}

.content-text {
  color: #505f79;
  font-family: $font-roboto;
  font-size: 1rem;

  &--small {
    font-size: 0.8125rem;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: auto;

  a {
    padding: 8px 10px;
    border-radius: 50%;

    &:hover {
      background-color: $pix-neutral-20;
    }
  }
}

.bold {
  font-weight: bold;
}

.card-information {
  &--actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 16px;
  }

  li {
    margin-top: 8px;
  }
}
