.select-framework {
  width: 100%;

  .pix-label {
    color: var(--pix-neutral-0);
  }

  .pix-select__dropdown {
    // Prevents weird layout behaviour :(
    transform: translate(0, 74px) !important;
  }
}

.area-accordion {
  width: 100%;

  .pix-accordions {
    width: 100%;
    border: none;
    background: transparent;
    border-radius: 0;

    &__title {
      color: white;
      background: transparent;
      border: none;
      padding: 0.5rem 0;
      flex-direction: row-reverse;
      justify-content: start;
      gap: 0.375rem;
    }

  }

  .area-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--pix-neutral-0);
  }
}
