.sidebar-search {
  padding: 0 5px;
  width: 100%;

  .pix-select-button {
    background: none;
    color: white;
    border-color: white;

    &__dropdown-icon, &__icon {
      color: white;
    }

    &:focus, &:focus-within {
      outline-color: rgb(var(--pix-info-100-inline) / 0.5);
    }
  }

  .pix-select__dropdown {
    // Prevents weird layout behaviour :(
    transform: translate(0, 54px) !important;
  }

  .pix-select-list-category__option {
    &--selected {
      background: var(--pix-info-50);
      color: var(--pix-info-900);
    }

    &:focus {
      background: var(--pix-info-100);
    }
  }

  .pix-select__search {
    &:focus, &:focus-within {
      border-bottom-color: var(--pix-info-900);
    }
  }
}
