@use 'pix-design-tokens/typography' as *;

.locale-tag {
  color: black;
  background: var(--pix-neutral-20);
  padding: var(--pix-spacing-2x) var(--pix-spacing-4x);
  border-radius: var(--pix-spacing-2x);
  @extend %pix-body-m;

  span {
    display: inline-block;
    margin-right: var(--pix-spacing-2x);
  }
}
