<div class="competence-name">
<h1>
<!--   <div class="ui menu">
    <div class="item header">
      Déclinaisons de {{challenge.skillNames}}
    </div>
    <div class="ui right menu">
      <a class="ui icon item" onclick={{action "close"}}><i class="icon window close"></i></a>
    </div>
  </div>-->
      Déclinaisons de {{challenge.skillNames}}
</h1>
</div>
{{outlet}}
