<PixModal
  @title="Message pour le changelog"
  @onCloseButtonClick={{this.onDeny}}
>
  <:content>
    <div class="content">
      <div class="description">
        <form class="ui form">
          <div class="field">
            <label>Texte</label>
            <div class="ui input" for="textarea_changelog" >
              <Textarea id="textarea_changelog" @value={{this.value}} rows="4" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </:content>
  <:footer>
    <PixButton
      data-test-save-changelog-button
      @triggerAction={{this.approve}}
    >Enregistrer</PixButton>
  </:footer>
</PixModal>
