<ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal">
  <div class="ui standard modal visible active">
    <div class="header">
      Message pour le changelog
    </div>
    <div class="content">
      <div class="description">
        <form class="ui form">
          <div class="field">
            <label>Texte</label>
            <div class="ui input" for="textarea_changelog" >
              <Textarea id="textarea_changelog" @value={{this.value}} rows="4" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <div data-test-save-changelog-button class="ui positive right button" {{on "click" this.approve}}>
        Enregistrer
      </div>
    </div>
  </div>
</ModalDialog>
