<ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal" @onClose={{@close}}>
  <div class="ui modal visible active">
    <i class="close icon" {{on "click" @close}}></i>
    <div class="image content">
      <img class="image" src={{@src}} alt="illustration">
    </div>
  </div>
</ModalDialog>
