<PixModal
  @title="Déconnexion"
  @onCloseButtonClick={{@onDeny}}
>
  <:content>
    <p data-test-logout-message >Voulez-vous vraiment vous déconnecter ?</p>
  </:content>
  <:footer>
    <PixButton data-test-logout-cancel-button
               @backgroundColor="transparent-light"
               @isBorderVisible={{true}}
               @triggerAction={{@onDeny}}
    >
      Non
    </PixButton>
    <PixButton data-test-logout-ok-button
               @triggerAction={{this.logout}}
    >
      Oui
    </PixButton>
  </:footer>
</PixModal>