@use '../../global';
// stylelint-disable color-no-hex, color-named
.competence-actions {
  display: flex;
  padding: 8px 0;
  align-items: stretch;
  background-color: #f9fafb;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);

  &__tab-tooltip {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .pix-tooltip__trigger-element {
    width: flex;
  }

  &__button {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    padding: 0 0.928571em;
    color: #000;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &--right {
      margin-left: auto;
    }
  }
}

#language-filter-info {
  width: max-content;
  max-width: 470px;
}

.legend-table {
  border-collapse: collapse;
  width: 100%;

  th {
    text-align: left;
  }

  td {
    padding: 5px;
    border: 1px solid rgba(34, 36, 38, 0.1);
  }

  &__color {
    width: 80px;
  }

  &--skill .legend-table__color {
    &--warning {
      background: var(--pix-primary-100) !important;
    }

    &--danger {
      background: var(--pix-primary-300);
    }
  }

  &--challenge .legend-table__color {
    &--warning {
      background: var(--pix-error-100) !important;
    }

    &--danger {
      background: var(--pix-error-500);
    }
  }
}
