<h1 class="ui left floated header">{{competence.name}}</h1>
<div class="selection ui small right floated header select-section">
  {{#power-select dropdownClass="select-section-dropdown" searchEnabled=false options=sections selected=selectedSection
                  onchange=(action "selectView") as |section|}}
    {{section.title}}
  {{/power-select}}
</div>