.module-form {
  display: flex;
  flex-direction: column;
  gap: var(--pix-spacing-6x);

  &__data-field {
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-2x);
  }

  &__monaco-editor {
    height: 70vh;
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--pix-spacing-4x);
    justify-items: start;
  }
}

.module-form-notification {
  &--info {
    --color: var(--pix-info-700);
    --background-color: var(--pix-info-100);
  }

  &--warning {
    --color: var(--pix-warning-700);
    --background-color: var(--pix-warning-100);
  }

  &--warning,  &--info {
    .pix-notification-alert__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .pix-button--secondary {
        color: var(--color);
        border: 2px solid var(--color);

        &:hover, &:focus {
          background-color: var(--background-color);
        }
      }
    }
  }
}
