@use 'pix-design-tokens/typography' as *;

.admin {
  a:hover {
    color: inherit;
    text-decoration: inherit;
  }

  .elephant-container {
    display: block;
    width: 100%;
    padding: 8px;
    background: white;
    border-radius: 16px;

    img {
      height: 64px;
      aspect-ratio: initial;
    }
  }

  h1 {
    padding-top: 2rem;

    @extend %pix-title-l;
  }

  .pagination {
    margin-top: 1rem;
  }

  .secret-container {
    display: flex;
    align-items: center;
    gap: 6px;

    &__secret {
      font-family: monospace;
      transition: filter 0.15s ease;

      * {
        font-family: monospace;
      }

      &--blurred {
        filter: blur(6px);
        cursor: not-allowed;
        background: rgb(0 0 0 / 0.15);
        border-radius: 100px;
        color: transparent;
        user-select: none;
      }
    }
  }

  .entity-list__header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: end;
  }

  .new-entity {
    &__header {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: end;
    }
  }

  .new-entity-form {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      .pix-input,
      .pix-input-password,
      .pix-select {
        min-width: 300px;
        width: 100%;
      }
    }

    &__submit {
      align-self: end;
    }
  }
}
