.challenge-view {
  display: flex;
  flex-direction: column;
  background-color: var(--pix-neutral-0);
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  gap: var(--pix-spacing-3x);
  overflow: auto;
  flex: 2;

  .pix-checkbox {
    margin-top: 0;
  }

 > p {
    color: var(--pix-neutral-900);
    font-weight: var(--pix-font-medium);
  }

  > img {
    width: 100px;
    height: auto;
  }



  &-internationalisation {
    width: 100%;
    display: flex;

    .pix-input {
      margin-right: var(--pix-spacing-4x);
    }
  }

  &-quality {
    background: var(--pix-neutral-20);
    border-radius: var(--pix-spacing-2x);
    padding: var(--pix-spacing-4x);

    fieldset:not(:last-child) {
      margin-bottom: var(--pix-spacing-8x);
    }

    legend {
      font-weight: var(--pix-font-bold);
      color: var(--pix-neutral-500);
      margin-bottom: var(--pix-spacing-2x);
    }

    input.pix-input__input,
    input.pix-checkbox__input:not(:checked){
      background: var(--pix-neutral-0);
    }

    &__certification {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--pix-spacing-6x);
    }
  }

  &__tolerance {
    display: flex;
    align-items: center;
    gap: var(--pix-spacing-6x);
  }

  .pix-label:has(+ div > div > .sr-only-label) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0,0,0,0);
  }

  &-default-embed-url {
    background-color: var(--pix-info-50);
    font-size: .875rem;
    font-weight: 500;
    padding: .5rem;
    width: fit-content;
    border-radius: 5px;
    border: solid 1px var(--pix-tertiary-100);
    margin-top: .5rem;
  }

  &-editable-fields {
    padding: 1rem;
    border: solid 1px var(--pix-tertiary-100);
    border-radius: var(--pix-spacing-2x);

    & > * {
      margin-bottom: 1rem
    }
  }
}
