.challenges-production {
  position: relative;
  overflow: auto;
  height: 70%;

  &--full {
    height: auto;
  }

  &-table {
    padding: var(--pix-spacing-6x) var(--pix-spacing-8x);

    &__consigne {
      max-width: 650px;
      height: 3rem;
      line-height: 1.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__display-actions {
      display: flex;
      justify-content: space-between;
      margin-block: var(--pix-spacing-4x);
    }
  }

}

.challenges-production-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
