.challenge-view {
  display: flex;
  flex-direction: column;
  background-color: var(--pix-neutral-0);
  padding: var(--pix-spacing-4x) var(--pix-spacing-6x);
  gap: var(--pix-spacing-3x);
  overflow: auto;

  .pix-checkbox {
    margin-top: 0;
  }

  p {
    color: var(--pix-neutral-900);
    font-weight: var(--pix-font-medium);
  }

  img {
    width: 100px;
    height: auto;
  }

  &-internationalisation {
    width: 100%;
    display: flex;

    .pix-input {
      margin-right: var(--pix-spacing-4x);
    }
  }

  &__tolerance {
    display: flex;
    align-items: center;
    gap: var(--pix-spacing-6x);
  }
}
