.challenges-production-header {
  display: flex;
  align-items: center;
  color: var(--pix-neutral-0);
  background-color: var(--pix-neutral-900);
  padding: var(--pix-spacing-2x) var(--pix-spacing-6x);
  border-bottom: 1px solid var(--pix-neutral-100);

  &__info {
    flex: 1;
    display: flex;
    gap: var(--pix-spacing-2x);
    align-items: center;
    font-weight: 700;
    font-size: 16px;
  }

  &__separator {
    height: 28px;
    width: 1px;
    border-right: solid 1px var(--pix-neutral-0);
    margin-right: 4px;
    margin-left: 4px;
  }

  &__action-buttons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: var(--pix-spacing-2x);
  }

  &__action-buttons > &__button-icon {
    color: var(--pix-neutral-0);

    &:hover {
      background-color: rgba(var(--pix-neutral-500-inline), 0.5) !important;
    }
  }
}
