@use 'sass:color';

.production-skill-overview {
  background-color: var(--pix-neutral-0);

  &-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 var(--pix-spacing-1x);

    &--empty {
      background-color: var(--pix-error-100);

      &:hover,
      &:focus,
      &.active {
        color: inherit;
        background-color: hsl(from var(--pix-error-100) h s calc(l - 25));
      }
    }

    &--proposed {
      background-color: var(--pix-info-100);

      &:hover,
      &:focus,
      &.active {
        color: inherit;
        background-color: hsl(from var(--pix-info-100) h s calc(l - 25));
      }
    }

    &--validated {
      background-color: var(--pix-success-100);

      &:hover,
      &:focus,
      &.active {
        color: inherit;
        background-color: hsl(from var(--pix-success-100) h s calc(l - 25));
      }
    }
  }
}
