@use 'pix-design-tokens/breakpoints';
@use 'pix-design-tokens/fonts';
@use 'pix-design-tokens/colors';

.login {
  background-color: var(--pix-neutral-0);
  border-radius: 10px;
  padding: 20px 30px;
  max-width: 500px;

  @include breakpoints.device-is('tablet') {
    padding: 40px 60px;
  }

  &__header {
    text-align: center;
  }

  &__main {
    width: 100%;
  }
}

.login-header {
  &__title {
    font-family: fonts.$font-open-sans;
    font-weight: 400;
    font-size: 2rem;
    color: colors.$pix-neutral-80;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  &__information {
    margin-bottom: 32px;
    font-family: fonts.$font-roboto;
    max-width: 400px;
    width: 100%;
  }
}

.login-main {
  &__form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--pix-spacing-4x);
  }
}

.login-main-form {
  &__button {
    margin-top: 8px;
    font-size: 0.875rem;
  }
}
