<div class="main-left">
  <div class="ui main-title">
    <h1 class="ui left floated header">Journal</h1>
    <div class="ui right floated header">
      <button {{on "click" this.queryMoreLogs}} class="ui inverted basic button " tabindex="0"><i class="icon plus"></i> Voir plus</button>
    </div>
  </div>
  <List::EventsLog @list={{this.model}} />
</div>
