{{#link-to "competence.skill.index" competenceModel skill tagName="td" class="skill-cell quality-skill-link"}}
  {{#ui-popup html=(concat
    "<table class='quality-indication-details'>"
    popupBuild.content
    "</table>") class=qualityClassColor.content}}
    <div class=" quality-indication">
      <span>{{skill.name}}</span>
      <span>{{qualityIndication.content}}</span>
    </div>
    {{#if classTutorial}}
      <i class="lab icon {{classTutorial}}"></i>
    {{/if}}
    {{#if skill.productionTemplate.timer }}
      <i class="time icon"></i>
    {{/if}}
    {{#if (and (not classTutorial) (not skill.productionTemplate.timer))}}
    <br>
      {{/if}}
  {{/ui-popup}}
{{/link-to}}