<LinkTo @route="competence.templates.list" @models={{array @competenceModel @skill}} @tagName="td" class="skill skill-cell link workbench">
  {{@skill.name}}
  <div class="alternative">
    <span class="draft">{{@skill.templates.length}}</span>
    {{#if @skill.template.notDeclinable}}
      <span class="not-declinable">NR</span>
    {{/if}}
  </div>
</LinkTo>
