{{#link-to link competenceModel skill.productionTemplate tagName="td" class="skill skill-cell link production"}}
  {{skill.name}}
  <div class="alternative">
    <span class="production">{{skill.productionTemplate.productionAlternatives.length}}</span>
    {{#if skill.productionTemplate.draftAlternatives.length}}
      <span class="draft">({{skill.productionTemplate.draftAlternatives.length}})</span>
    {{/if}}
    {{#if skill.template.content.notDeclinable}}
      <span class="not-declinable">NR</span>
    {{/if}}
  </div>
{{/link-to}}