<div class="main-title skill-header">
  <h1 class="ui header">
    <div class="ui right floated menu">
      <PixIconButton
        @triggerAction={{this.close}}
        @icon="rectangle-xmark"
        @iconPrefix="fas"
        @ariaLabel="Fermer le détail de versions des acquis"
        class="button-with-white-icon"/>
    </div>
    Versions de {{this.skillName}}
  </h1>
</div>
<div class="ui attached segment competence">
  <List::Skills @list={{this.model.sortedSkills}}/>
</div>
<div class="ui borderless bottom attached labelled icon menu">
  {{#if this.mayCreateSkill}}
    <PixButton
      @triggerAction={{this.newSkillVersion}}
      @backgroundColor="transparent-light"
      @iconBefore="square-plus"
      @prefixIconBefore="fas"
    >
      Nouvelle Version
    </PixButton>
  {{/if}}
</div>