<div class="main-left">
  <div class="ui main-title">
    <h1 class="ui left floated header">Journal</h1>
    <div class="ui right floated header">
      <PixButton
        @triggerAction={{this.queryMoreLogs}}
        @backgroundColor="blue"
        @iconBefore="plus"
        @prefixIconBefore="fas"
        @isDisabled={{this.queryStatus}}
      >
        Voir plus
      </PixButton>
    </div>
  </div>
  <List::EventsLog @list={{this.model}} />
</div>
