@use '../../../../global';

// stylelint-disable color-no-hex, color-named

.archive {
  &__title {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--pix-neutral-0);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  &__heading {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 6px 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__close {
    display: inline-flex;
    align-items: center;
    padding: 7px 8px 0;
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  &__segment {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__info-menu {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #f9fafb;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
  }

  &__info {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
